<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <!-- <div id ="fn_container_div" class="fn_container_div"></div> -->


          <h2 id="h2" class="h2">
            <a id="back_href" class="back_href" href="notes_ar" title="الملاحظات">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div class="h2_main_text_div">
              <a id="h2_text_div" class="h2_text_div" href="general_settings_ar" title="اعادة تحميل الصفحة">الاعدادات</a>
              <span id="sub_h2_header" class="sub_h2_header">اعدات التطبيق العامة</span>
            </div>
          </h2>

          
          <div id="page_content" style="display: none;">
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->

          <div class="btn_container_bottom_border">
            <button id="btn_accounts_tree" class="custom_button">الدليل المحاسبى</button>
            <button id="btn_tax" class="custom_button">الرموز الضريبية</button>
            <button id="btn_permissions" class="custom_button">صلاحيات المستخدمين</button>
            <button id="btn_old_features" class="custom_button">ميزات قديمة</button>
          </div>
          
          <div id="tableContainer" class="tableContainer">
            <table id="review_table" class="review_table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="reference_and_date_div">
                                <div class="column x_start y_start w_fit">
                                  <!-- date -->
                                  <label for="date_input" class="lbl_sm">تاريخ الاغلاق</label>
                                  <div class="input_with_icon_div">
                                    <input type="search" id="closingDate_input" class="hover input_date datepicker" placeholder="التاريخ..." readonly autocomplete="off">
                                    <i class="fa-regular fa-calendar left_icon"></i>
                                  </div>
                                  <label for="date_input" style="color: orangered;">تحديد تاريخ الإغلاق يساعد في ضمان عدم إنشاء، تعديل، أو حذف البيانات داخل التطبيق بعد التاريخ المحدد أو قبله. هذا الإجراء يضمن الحفاظ على سلامة البيانات ويمنع أي تغييرات غير مصرح بها بعد الفترة الزمنية المعتمدة.</label>  
                              </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="column x_start y_start w_fit">
                                <label for="reference_input" class="lbl_sm">تقييد اختيار تاريخ يتجاوز تاريخ اليوم</label>
                                <div class="input_with_icon_div">
                                  <span class="reference_input_checkbox"><input type="checkbox" id="prevent_futureDate_checkbox"  title="اضغط لتعطيل او تفعيل الخاصية ثم اضغط حفظ"></span>
                                  <input type="search" id="prevent_futureDate_input" class="reference_input reference_input_auto_mode hover"
                                    oninput="check_parse(this,'number')" placeholder="الخاصية معطّلة" autocomplete="off">
                                </div>
                                <label for="date_input" style="color: orangered;">تفعيل هذه الخاصية يعزز الرقابة على إدخال التواريخ، حيث إنه عند تفعيلها، لن يُسمح باختيار تواريخ تتجاوز تاريخ اليوم الحالي، مما يضمن دقة البيانات المدخلة والالتزام بالفترات الزمنية المحددة.</label>  
                              </div>
                        </td>
                    </tr>
                    <tr>
                      <td class="row gap_10 pt_10 pb_10">
                        <button id="backup_btn" class="btn_new">نسخه احتياطيه</button>
                        <button id="restore_btn" class="btn_new">استعاده نسخه احتياطية</button>
                      </td>
                  </tr>
                    <tr>
                      <td>
                        <button id="delete_x" class="btn_cancel mt_10 mb_10">حذف النشاط التجارى</button>
                      </td>
                  </tr>
                </tbody>
            </table>
          </div>



          <div class="btn_container_top_border">
            <button class="btn_save" id="btn_save">حفظ</button>
          </div>

          <!-- -------------- Dialog----------- -->
          <div id="dialogOverlay_input" class="dialogOverlay" style='display: none;'>

            <div id="dialog5" class="dialog dialog_input">

              <div class="dialog_header">
                <h3 id="dialogTitle"></h3>
              </div>

              <h2 id="h2_id" class="h2">
                حذف العمل التجارى
              </h2>

              <label for="report_name_input" class="lbl_sm">اسم العمل التجارى</label>
              <input type="search" id="delete_name_input" class="input_text_md hover" autocomplete="off" oninput="check_parse(this,'string')"  placeholder="مطلوب">
              


              <div id="" class="column" style="margin-block-end: 0.5rem;">
                <label for="user_pass_input" class="lbl_sm">كلمة المرور ( المستخدم الحالى )</label>

                <div id="" class="row"
                  style="margin-inline-end: 1rem; display: flex">
                  <div class="input_with_icon_div">
                    <input type="password" name="" id="user_pass_input" placeholder="مطلوب" class="input_text_md hover" style="padding-inline-end: 3rem; margin-block-end: 0;" autocomplete="off">
                    <i class="fa-solid fa-key left_icon"></i>
                  </div>
                  <button id="" class="btn_eye hover"
                    onmousedown="showPassword('user_pass_input', 'eye_icon1')"
                    onmouseup="hidePassword('user_pass_input', 'eye_icon1')"
                    ontouchstart="showPassword('user_pass_input', 'eye_icon1')"
                    ontouchend="hidePassword('user_pass_input', 'eye_icon1')"><i id="eye_icon1"
                      class="fa-regular fa-eye eye_icon"></i>
                  </button>
                </div>
              </div>

              <div id="" class="column" style="margin-block-end: 0.5rem;">
                <label for="owner_pass_input" class="lbl_sm">كلمة المرور ( المالك )</label>

                <div id="" class="row"
                  style="margin-inline-end: 1rem; display: flex">
                  <div class="input_with_icon_div">
                    <input type="password" name="" id="owner_pass_input" placeholder="مطلوب" class="input_text_md hover" style="padding-inline-end: 3rem; margin-block-end: 0;" autocomplete="off">
                    <i class="fa-solid fa-key left_icon"></i>
                  </div>
                  <button id="" class="btn_eye hover"
                    onmousedown="showPassword('owner_pass_input', 'eye_icon2')"
                    onmouseup="hidePassword('owner_pass_input', 'eye_icon2')"
                    ontouchstart="showPassword('owner_pass_input', 'eye_icon2')"
                    ontouchend="hidePassword('owner_pass_input', 'eye_icon2')"><i id="eye_icon2"
                      class="fa-regular fa-eye eye_icon"></i>
                  </button>
                </div>
              </div>
            

              <div id="dialog_footer" class="dialog_footer">
                <button id="view_report_btn" class="btn_cancel">حذف</button>
                <!-- <button id="update_btn" class="btn_update">تعديل</button> -->
                <button id="cancel_report_btn" class="btn_cancel">إنهاء</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/settings/general_settings_ar.js"></script>
  <script src="/public/scripts/ar/settings/general_settings_ar2.js"></script>
  <script src="/public/scripts/ar/settings/general_settings_ar3.js"></script>



</body>

</html>