<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <!-- <div id ="fn_container_div" class="fn_container_div"></div> -->


          <h2 id="h2" class="h2">
            <a id="back_href" class="back_href" href="notes_ar" title="الملاحظات">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div class="h2_main_text_div">
              <a id="h2_text_div" class="h2_text_div" href="general_settings_ar" title="اعادة تحميل الصفحة">الاعدادات</a>
              <span id="sub_h2_header" class="sub_h2_header">اعدات التطبيق العامة</span>
            </div>
          </h2>

          
          <div id="page_content">
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->

          
          <div id="tableContainer" class="tableContainer">
            <table id="review_table" class="review_table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="reference_and_date_div">
                                <div class="column x_start y_start w_fit">
                                  <!-- date -->
                                  <label for="date_input" class="lbl_sm">تاريخ الاغلاق</label>
                                  <div class="input_with_icon_div">
                                    <input type="search" id="closingDate_input" class="hover input_date datepicker" placeholder="التاريخ..." readonly autocomplete="off">
                                    <i class="fa-regular fa-calendar left_icon"></i>
                                  </div>
                                  <label for="date_input" style="color: orangered;">تحديد تاريخ الإغلاق يساعد في ضمان عدم إنشاء، تعديل، أو حذف البيانات داخل التطبيق بعد التاريخ المحدد أو قبله. هذا الإجراء يضمن الحفاظ على سلامة البيانات ويمنع أي تغييرات غير مصرح بها بعد الفترة الزمنية المعتمدة.</label>  
                              </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="column x_start y_start w_fit">
                                <label for="refrence_input" class="lbl_sm">تقييد اختيار تاريخ يتجاوز تاريخ اليوم</label>
                                <div class="input_with_icon_div">
                                  <span class="refrence_input_checkbox"><input type="checkbox" id="prevent_futureDate_checkbox"  title="تلقائى"></span>
                                  <input type="search" id="prevent_futureDate_input" class="refrence_input refrence_input_auto_mode hover"
                                    oninput="check_parse(this,'number')" placeholder="الخاصية معطّلة" autocomplete="off">
                                </div>
                                <label for="date_input" style="color: orangered;">تفعيل هذه الخاصية يعزز الرقابة على إدخال التواريخ، حيث إنه عند تفعيلها، لن يُسمح باختيار تواريخ تتجاوز تاريخ اليوم الحالي، مما يضمن دقة البيانات المدخلة والالتزام بالفترات الزمنية المحددة.</label>  
                              </div>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>



          <div class="btn_container_top_border">
            <button class="btn_save" id="btn_save">حفظ</button>
          </div>


        </div>
      </div>
    </div>

  </div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/settings/general_settings_ar.js"></script>



</body>

</html>