<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>

        <!-- *** this element add to avoid errors from main.js file -->
        <div id="hidden_items_to-avoid_errors_in_main_js" style="display: none;">
   
          <a href="#" id="MenueIcon" class="MenueIcon" title="Open Menue">
            <i class="fa-solid fa-bars"></i>
          </a>
    
  
    
          <div id="sidebar" class="sidebar">
            <div id="closeMenueIcon" class="closeMenueIcon">
              <i class="fa-solid fa-square-xmark"></i>
            </div>
          </div>
          
          <a href="users_ar" target="_self" id="users_control_a" style="display: none;">
            <i class="fa-solid fa-user"></i>
            المستخدمين
          </a>
    
        </div>
        <!--* End hidden element div-->
        
    <div class="header">

      <div class="header_dark_lang_control">
        <a id="dark_toggle_btn" class="">
          <i class="fa-solid fa-circle-half-stroke"></i>
        </a>
        <a href="" id="lang_btn" class=""> en </a>
      </div>

      <div class="header_menue">
        <a href="">
          <i class="fa-solid fa-question"></i>
          مساعده
        </a>

        <!-- <a href="">
            <i class="fa-solid fa-info"></i>
            <p>Home</p>
          </a> -->

      </div>


      <div class="header_user_div">
        <button id="header_user_name"></button>
        <div id="user_options" class="user_options" style="display: none;">
          <button id="user_setting_btn" class="btn_new" onclick="">الاعدادات</button>
          <button id="user_logout_btn" class="btn_cancel" onclick="logout()">خروج</button>
        </div>
      </div>


    </div>

    <div class="sub_container">
    
      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space">
          <h2 class="h2">
            <i class="fa-solid fa-arrow-right back_icon" onclick="logout()"></i>
            <i class="fa-solid fa-arrow-left forward_icon" onclick="forward()"></i>
            الاعمال التجارية
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
         
          <div id="" class="column x_start y_start grow_1 media_width_100" style="margin: 0 auto; position: relative; width:60%; min-width: 10rem; max-width: 100%;">

          <!-- search in table -->
          <div class="row x_end y_center w_full mb_10" style="gap: 1rem; position: relative;">
            <button id="add_new_bussnies" class="btn_new">اضافة عمل تجارى جديد</button>
            <button id="import_bussnies" class="btn_save">استيراد عمل تجارى</button>
          </div>

        <div class="flex_row w_full">
          <div class="input_with_icon_div">
            <input type="search" name="searchInput" id="searchInput" placeholder="search" class="search_input hover">
            <i class="fa-solid fa-magnifying-glass left_icon"></i>
          </div>
          <button id="searchBtn" class="btn_search hover">search</button>
        </div>

          <div id="table-container" class="table_container w_full" style="height: auto;"></div>

        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- scripts------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script>
  <!-- lazem da ykon apl el main.js -->
  <script src="/public/scripts/main.js"></script>
  <script src="/public/scripts/ar/owners_and_companies/companies.js"></script>


</body>

</html>
