<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
  
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>

    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <!-- <div id="sidebar" class="sidebar scroll"></div> -->

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <div id="fn_container_div" class="fn_container_div"></div>

          <h2 id="h2" class="h2">
            <a id="back_href" class="back_href" href="users_view_ar" title="المستخدمين">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div class="h2_main_text_div">
              <a id="h2_text_div" class="h2_text_div" href="users_add_ar" title="اعادة تحميل الصفحة">مستخدم جديد</a>
              <span id="sub_h2_header" class="sub_h2_header"></span>
            </div>
          </h2>
          <div id="page_content" style="display: none;">
            <!-- !________________________________________________CONTENT_____________________________________________________________ -->


            <label for="user_name_input" class="lbl_sm">اسم المستخدم ( المستخدم فى الدخول )</label>
            <input type="search" id="user_name_input" class="input_text_md hover" oninput="check_parse(this, 'string')" autocomplete="off" placeholder="مطلوب">


            <!-- pass div -->
            <button id="btn_change_pass" class="btn_new"
              style="width: fit-content; margin-block-end: 2rem; margin-block-start: 1rem; display: none;"
              onclick="btn_change_pass_fn()">تعيين كلمة مرور
              جديده</button>
            <!-- pass div -->
            <button id="btn_change_pass" class="btn_new"
              style="width: fit-content; margin-block-end: 2rem; margin-block-start: 1rem; display: none;"
              onclick="btn_change_pass_fn()">تعيين كلمة مرور
              جديده</button>

            <!-- passwords -->
          
              <div id="new_pass_div" class="column" style="margin-block-end: 0.5rem;">
                <label for="pass_input_new_pass_inpu" class="lbl_sm">كلمة المرور</label>

                <div id="input_your_new_pass_div" class="flex_row"
                  style="margin-inline-end: 1rem; display: flex">
                  <div class="input_with_icon_div">
                    <input type="password" name="" id="pass_input_new_pass_inpu" placeholder="مطلوب" class="input_text_md hover" style="padding-inline-end: 3rem; margin-block-end: 0;" autocomplete="off">
                    <i class="fa-solid fa-key left_icon"></i>
                  </div>
                  <button id="show_pass_btn1" class="btn_eye hover"
                    onmousedown="showPassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    onmouseup="hidePassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    ontouchstart="showPassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    ontouchend="hidePassword('pass_input_new_pass_inpu', 'eye_icon1')"><i id="eye_icon1"
                      class="fa-regular fa-eye eye_icon"></i>
                  </button>
                </div>
              </div>

            



            <label for="user_fullName_input" class="lbl_sm">اسم المستخدم ( الذى يظهر فى واجهة المستخدم )</label>
            <input type="search" id="user_fullName_input" class="input_text_md hover" oninput="check_parse(this, 'string')" title="الاسم الذى يظهر على الشاشه للاخرين" autocomplete="off" placeholder="مطلوب">

            <label for="inactive_select" class="lbl_sm">الحالة</label>
            <select name="" id="inactive_select" class="select hover mb_10">
              <option value="0" selected>نشط</option>
              <option value="1" >غير نشط</option>
            </select>
            
            <!-- الصلاحيات -->

            <label for="general_permission_select" class="lbl_sm">صلاحيات عامه</label>
            <select class="select" id="user_main_permission_select">
              <option value="0">صلاحيات المالك</option>
              <option value="1" selected>صلاحيات مقيده</option>
            </select>


            <div id="tableContainer" class="tableContainer" style="margin: 2rem 0;"></div>

            <div class="btn_container_top_border">
              <button class="btn_save" id="btn_save" onclick="save('A')">حفظ</button>
              <button class="btn_save" id="btn_save_and_add_another" onclick="save('B')">حفظ و إضافة أخر</button>
            </div>

            <!--! ________________________________________________#END CONTENT_____________________________________________________________ -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div> <!-- end body content -->
  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/owners_and_companies/users_add_ar.js"></script>


</body>

</html>