<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="manifest" href="/public/scripts/PWA/manifest.json">
</head>

<body>

  <!-- <script src="/public/scripts/darkmode.js"></script> -->

  <!--extentions-->

  <div id="alert-container" class="alert-container"></div>
  <button id="scrollToTopBtn">&#9650;</button>
  <div id="body_content">

    <!-- *** this element add to avoid errors from main.js file -->
    <div id="hidden_items_to-avoid_errors_in_main_js" style="display: none;">
      <div class="header_dark_lang_control" style="display: none;">
        <a id="dark_toggle_btn" class="">
          <i class="fa-solid fa-circle-half-stroke"></i>
        </a>
        <a href="" id="lang_btn" class="">
          en
        </a>
      </div>

      <a href="#" id="MenueIcon" class="MenueIcon" title="Open Menue">
        <i class="fa-solid fa-bars"></i>
      </a>

      <div class="header_user_div">
        <button id="header_user_name" class="header_user_name"></button>
        <div id="user_options" class="user_options" style="display: none;">
          <button id="user_setting_btn" class="btn_new" onclick="">الاعدادات</button>
          <button id="user_logout_btn" class="btn_cancel" onclick="logout()">خروج</button>
        </div>
        <button id="header_company_name" class="header_user_name"></button>
      </div>


      <div id="sidebar" class="sidebar">
        <div id="closeMenueIcon" class="closeMenueIcon">
          <i class="fa-solid fa-square-xmark"></i>
        </div>
      </div>

      <a href="permissions_view_ar" target="_self" id="users_control_a" style="display: none;" class="sidebar-active">
        <i class="fa-solid fa-user"></i>
        المستخدمين
      </a>


    </div>
    <!--* End hidden element div-->


    <!-- login  start---------------------------------------------------------------------------------------------------------------------------- -->

    <div id="login_div" class="login_div">
      <label for="username" class="login_word">Login</label>
      <input type="text" id="username" name="username" class="login_textbox hover" placeholder="UserName" autocomplete="username" tabindex="1" />
      <input type="password" id="password" name="password" class="login_textbox hover" placeholder="pasword" autocomplete="current-password" tabindex="2" />
      <div style="display: flex; flex-direction: row; margin: 0; padding: 0;">
        <div class="btn_container">
          <button id="loginBtn" class="btn_save" style="margin: 0 10px 0 0;" tabindex="3">Login</button>
          <!-- <button id="exit_btn" class="btn_cancel" tabindex="4" onclick="logout()">Logout</button> -->
          <button id="register_btn" class="btn_new" tabindex="4" onclick="logout()">Register</button>
        </div>
      </div>
      <p id="loginInformation" class="label_small" tabindex="-1">Please inset UserName and Password</p>
    </div>

  </div>
  <!-- ________________________________________________________________ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script>
  <script src="/public/scripts/login.js"></script>
  <script>

</script>

</body>

</html>