:root {
  /** backgrounds */
  --bg_navbar: rgb(245, 245, 245);
  --bg_sidebar: rgb(245, 245, 245);
  --bg_white_backcolor: rgb(255, 255, 255);
  /* far2 10 points  beno we ben bg--content_space*/
  --bg_content_space: rgb(245, 245, 245);

  /** fonts - colors  */
  --Font_normal: normal normal normal 1.4rem/1.4rem Lateef,Amiri,Droid Arabic Naskh,Segoe UI,Helvetica Neue, Helvetica,Arial, sans-serif;
  --Font_Color: rgb(51, 51, 51);
  --special_font_color: rgb(1, 1, 192);

  /** icons*/
  --icon_btn_color: rgb(51, 51, 51);

  /** h2 */
  --h2_color: teal;
  --h2_background_color: inherit;
  --h2_box_shadow: none;
  --h2_border_bottom: 0.1rem solid rgb(193, 193, 193);

  /** buttons */
  --back_icon_color: royalblue;
  --back_icon_hover: 0.8;

  --btn_new_backcolor: #2196f3;
  --btn_save_backcolor: #04aa6d;
  --btn_update_backcolor: #ff5722;
  --btn_cancel_backcolor: #f44336;
  --btn_color: rgb(255, 255, 255);

  --btn_search_backcolor: rgb(229, 229, 229);
  --btn_search_color: rgb(51, 51, 51);

  --btn_hover_opacity: 0.8;

  /** input Text*/
  --input_text_background_color: rgb(255, 255, 255);

  /** borders */
  --border_normal: 0.1rem solid rgb(204, 204, 204);
  --border_normal_hover: 0.1rem solid #66afe9;
  --box_shadow_border: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%),
    0 0 0.8rem hsla(207, 75%, 66%, 0.6);

  --input_error_border:0.1rem solid red !important;
  --box_shadow_border_hover: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%),
  0 0 0.8rem red !important;

  /** hover*/
  --hover_btn_color: rgb(230, 230, 230);

  /** tables*/
  --table_border: 0.1rem solid rgb(229, 229, 229);

  --table_header_background_color: rgb(245, 245, 245);
  --table_header_color: #123;

  --table_row_hover_color: ;

  /** scroll*/
  --scroll_track_color : rgb(255,255,255);
  --scroll_track_thumb : rgb(204,204,204);
  --scroll_track_thumb_hover : rgb(180,180,180);



  /*todo main rows*/
  --table_row_main_background_color: rgb(255, 255, 255);
  --table_row_main_color: rgb(51, 51, 51);
  --table_row_main_background_color_while_hover: #ddd;
  /*hover*/
  --table_row_main_color_while_hover: rgb(51, 51, 51);
  /*hover*/

  /*todo alternative row*/
  --table_row_alternative_background_color: rgb(250, 250, 250);
  --table_row_alternative_color: rgb(51, 51, 51);
  --table_row_alternative_background_color_while_hover: #ddd;
  /*hover*/
  --table_row_alternative_color_while_hover: rgb(51, 51, 51);
  /*hover*/

  --table_footer_row_background_color: rgb(51, 51, 51);
  --table_footer_row_color: rgb(51, 51, 51);
  --table_footer_btn_color: rgb(51, 51, 51);
  --table_footer_btn_background_color: rgb(229, 229, 229);

  /** others*/
  --input_height: 3rem;
  --transition: background-color 0.5s ease 0s, color 0.5s ease 0s, box-shadow 0.5s ease 0s, border 0.5s ease 0s, opacity 0.5s ease, transform 0.5s ease;
  --header_element_height : 6rem;
}

.dark {
  /*! backgrounds */
  --bg_navbar: rgb(51, 51, 51);
  --bg_sidebar: rgb(51, 51, 51);
  --bg_white_backcolor: rgb(41, 41, 41);
  /* far2 10 points  beno we ben bg--content_space*/
  --bg_content_space: rgb(51, 51, 51);

  /*! fonts - colors  */
  --Font_Color: #f1f1f1;
  --special_font_color: rgb(176, 196, 255);

  /*! icons*/
  --icon_btn_color: #f1f1f1;

  /*! buttons */

  --back_icon_color: #6abcff;

  --btn_new_backcolor: #2196f3;
  --btn_save_backcolor: #04aa6d;
  --btn_update_backcolor: #ff5722;
  --btn_cancel_backcolor: #f44336;
  --btn_color: rgb(255, 255, 255);

  --btn_search_backcolor: rgb(67, 67, 67);
  --btn_search_color: #f1f1f1;

  --btn_hover_opacity: 0.8;

  /*! input Text*/
  --input_text_background_color: rgb(41, 41, 41);
  /* nafs lon el white_backcolor */

  --input_error_border:0.1rem solid red !important;
  --box_shadow_border_hover: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%),
  0 0 0.8rem red !important;

  /*! h2 */
  --h2_color: rgb(145, 247, 247);
  --h2_background_color: inherit;
  --h2_box_shadow: none;
  --h2_border_bottom: 0.1rem solid gray;

  /*! borders */
  --border_normal: 0.1rem solid rgb(92, 92, 92);
  --border_normal_hover: 0.1rem solid #66afe9;
  --box_shadow_border: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%),
    0 0 0.8rem hsla(207, 75%, 66%, 0.6);

  /*! hover*/
  --hover_btn_color: rgb(30, 30, 30);

  /*! DARK / tables*/
  --table_border: 0.1rem solid rgb(67, 67, 67);

  --table_header_background_color: rgb(51, 51, 51);
  --table_header_color: #f1f1f1;

  --table_row_hover_color: ;
  /* de general hover fadya 3ashan ana 3amel hover le main row and alternative row kol wa7ed lewa7do */
  /*! scroll*/
  --scroll_track_color : rgb(41,41,41);
  --scroll_track_thumb : rgb(92,92,92);
  --scroll_track_thumb_hover : rgb(116,116,116);

  /*todo main rows*/
  --table_row_main_background_color: rgb(41, 41, 41);
  --table_row_main_color: rgb(241, 241, 241);
  /* font color */
  --table_row_main_background_color_while_hover: rgb(75, 75, 75);
  /*hover*/
  --table_row_main_color_while_hover: rgb(241, 241, 241);
  /*hover*/

  /*todo alternative row*/
  --table_row_alternative_background_color: rgb(46, 46, 46);
  --table_row_alternative_color: rgb(241, 241, 241);
  --table_row_alternative_background_color_while_hover: rgb(75, 75, 75);
  /* background hover*/
  --table_row_alternative_color_while_hover: rgb(241, 241, 241);
  /*font hover*/

  --table_footer_row_background_color: rgb(51, 51, 51);
  --table_footer_row_color: rgb(51, 51, 51);
  --table_footer_btn_color: rgb(241, 241, 241);
  --table_footer_btn_background_color: rgb(67, 67, 67);
}

/* END - dark mode -------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: 0;
}

html {
  font-size: 62.5%;
  /* to use rem for everything ( 0.5rem = 0.5rem --- 1rem = 1rem --- 1.2rem = 1.2rem ... etc ) */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  font: var(--Font_normal);
  border: none;
  height: auto;
  min-height: 100vh;
  /* مهم جدا لضمان ان يكون الاسكرول بار فقط فى ال بودى */
  overflow: auto;
  background-color: var(--bg_white_backcolor);
}

#body_content{
display: flex; flex-direction: column;
width: 100%;
flex-grow: 1;
margin: 0; padding: 0; outline: none; border: none; box-sizing: border-box;
background-color: var(--bg_white_backcolor);
}

/* containers */
.flex_row {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 750px) {
  .flex_row {
    width: 100%;
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  inset-inline-end: 20px;
  display: none;
  /* background-color: #007bff; */
  background-color: #712cf9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  /* الشفافيه */
  transition: var(--transition);
}

#scrollToTopBtn:hover {
  opacity: 0.8;
}

/*scrol--------------------------------------*/
.scroll::-webkit-scrollbar {
  /* control scrollbar width */
  width: 0.8rem;
}

.scroll::-webkit-scrollbar-track {
  /* control scrollbar track  */
  background: var(--scroll_track_bg);
  /* border-radius: 2.5rem; */
}

.scroll::-webkit-scrollbar-thumb {
  /* control scrollbar itself */
  background: var(--scroll_track_thumb);
  border-radius: 2.5rem;
}


.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll_track_thumb_hover);
}

/* end# scrol--------------------------------------*/

/** loading*/

/* عندما يكون الزر في حالة التحميل */
.loading_icon::after {
  content: '\f110'; /* رمز دوران Font Awesome */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-inline-start: 0.8rem; /* المسافة بين الأيقونة والعنصر */
  animation: spin 1s linear infinite;
  color: var(--btn_color); /* لون الأيقونة - يمكنك تغييره إلى أي لون تريده */

}

/* الرسوم المتحركة لدوران الأيقونة */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/** end - loading ------------------------------------------------*/


.back_icon {
  position: relative;
  inset-inline-start: 0;
  margin-inline-end: 1rem;
  cursor: pointer;
  color: var(--back_icon_color);
  transition: var(--transition);
}

.forward_icon {
  position: absolute;
  inset-inline-end: 0;
  cursor: pointer;
  color: var(--back_icon_color);
  transition: var(--transition);
}

.back_icon:hover, .forward_icon:hover {
  opacity: var(--btn_hover_opacity);
}

i {
  color: var(--icon_btn_color);
  font-size: 1.7rem;
  transition: var(--transition);
}

p,
label,
a {
  color: var(--Font_Color);
}

.ta7ded1 {
  border: red solid 0.1rem;
}

.ta7ded2 {
  border: blue solid 0.1rem;
}

.ta7ded3 {
  border: green solid 0.1rem;
}

/* General And library*/

input[type="checkbox"] {
  border: var(--border_normal);
  cursor: pointer;
}

input[type="checkbox"]:hover {
  border: var(--border_normal_hover);
  background-color: red;
}

.hover:hover {
  border: var(--border_normal_hover);
  outline: 0;
}

.hover:focus {
  border: var(--border_normal_hover);
  outline: 0;
  box-shadow: var(--box_shadow_border);
}

.hover_error:hover{
  border: var(--input_error_border);
  outline: 0;
}

.hover_error:focus {
  border: var(--input_error_border);
  outline: 0;
  box-shadow: var(--box_shadow_border_hover);
}



/*todo Flex*/
.row{
  display: flex; flex-direction: row;
}
.row_R{
  display: flex; flex-direction:row-reverse;
}

.column{
  display: flex; flex-direction: column;
}

.column_R{
  display: flex; flex-direction:column-reverse;
}
.wrap{
  flex-wrap: wrap;
}
.x_center{
  justify-content: center;
}
.x_start{
  justify-content: start;
}
.x_end{
  justify-content: end;
}
.x-around{
  justify-content: space-around;
}
.x_between{
  justify-content: space-between;
}
.y_start{
  align-items: start;
}
.y_end{
  align-items: end;
}
.y_center{
  align-items: center;
}
.grow_1{
  flex-grow: 1;
}
.grow_2{
  flex-grow: 2;
}
.grow_3{
  flex-grow: 3;
}
.grow_4{
  flex-grow: 4;
}
.grow_5{
  flex-grow: 5;
}
.grow_6{
  flex-grow: 6;
}
.grow_7{
  flex-grow: 7;
}
.grow_8{
  flex-grow: 8;
}
.grow_9{
  flex-grow: 9;
}
.grow_10{
  flex-grow: 10;
}

/*! END - flex  */

/*todo @Media*/
@media screen and (max-width: 750px) {
  .media_width_100 {
    width: 100%;
  }
}

/*! END - @Media  */

/** background*/
.inherit{
  background-color: inherit !important;
}

/** width*/
.w_full{
width: 100% !important;
}


/** hight*/
.h_full{
  height: 100% !important;
  }

  .h_fit{
    height: fit-content !important;
    }
/* !end - width */

/** Margin*/
.m_0{
  margin: 0 !important;
}

.m_05{
  margin: 0.5rem !important;
}
.m_1{
  margin: 1rem !important;
}
.m_15{
  margin: 1.5rem !important;
}
.m_20{
  margin: 2rem !important;
}
.ms_05{
  margin-inline-start: 0.5rem !important;
}
.ms_10{
  margin-inline-start: 1rem !important;
}
.ms_15{
  margin-inline-start: 1.5rem !important;
}
.ms_20{
  margin-inline-start: 2rem !important;
}
.me_05{
  margin-inline-end: 0.5rem !important;
}
.me_10{
  margin-inline-end: 1rem !important;
}
.me_15{
  margin-inline-end: 1.5rem !important;
}
.me_20{
  margin-inline-end: 2rem !important;
}
.mt_05{
  margin-block-start: 0.5rem !important;
}
.mt_10{
  margin-block-start: 1rem !important;
}
.mt_15{
  margin-block-start: 1.5rem !important;
}
.mt_20{
  margin-block-start: 2rem !important;
}
.mb_05{
  margin-block-end: 0.5rem !important;
}
.mb_10{
  margin-block-end: 1rem !important;
}
.mb_15{
  margin-block-end: 1.5rem !important;
}
.mb_20{
  margin-block-end: 2rem !important;
}

/*! end margin*/

/** padding*/
.p_05{
  padding: 0.5rem !important;
}
.p_1{
  padding: 1rem !important;
}
.p_15{
  padding: 1.5rem !important;
}
.p_20{
  padding: 2rem !important;
}
.ps_05{
  padding-inline-start: 0.5rem !important;
}
.ps_10{
  padding-inline-start: 1rem !important;
}
.ps_15{
  padding-inline-start: 1.5rem !important;
}
.ps_20{
  padding-inline-start: 2rem !important;
}
.pe_05{
  padding-inline-end: 0.5rem !important;
}
.pe_10{
  padding-inline-end: 1rem !important;
}
.pe_15{
  padding-inline-end: 1.5rem !important;
}
.pe_20{
  padding-inline-end: 2rem !important;
}
.pt_05{
  padding-block-start: 0.5rem !important;
}
.pt_10{
  padding-block-start: 1rem !important;
}
.pt_15{
  padding-block-start: 1.5rem !important;
}
.pt_20{
  padding-block-start: 2rem !important;
}
.pb_05{
  padding-block-end: 0.5rem !important;
}
.pb_10{
  padding-block-end: 1rem !important;
}
.pb_15{
  padding-block-end: 1.5rem !important;
}
.pb_20{
  padding-block-end: 2rem !important;
}

/*! end margin*/


/* ? start - H */
.h2 {
  margin-block-end: 1.5rem;
  line-height: 3.2rem;
  border-block-end: var(--h2_border_bottom);
}

.h3 {
  margin-block-end: 1.5rem;
  line-height: 2.5rem;
  /* border-block-end: var(--h2_border_bottom); */
}

.h2, .h3{
  position: relative;
  display: flex; flex-direction: row; justify-content: start; align-items: center;
  background-color: var(--h2_background_color);
  padding-block-end: 1rem;
  /* padding-bottom */
  width: 100%;
  color: var(--h2_color);
  box-shadow: var(--h2_box_shadow);
  transition: var(--transition);
}


/* ? end - H */

/* ! start -- Input-text*/

.input_with_icon_div {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-block-end: 1rem;
  /* هياخد مارجن الالانبوت بدل الانبوت نفسه */
  border: none;
  height: fit-content;
  width: fit-content;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .input_with_icon_div {
    width: 100%;
  }
}
.input_with_icon_div i {
  position: absolute;
  inset-inline-start: 1rem;
  pointer-events: none;
  /* هنا تجعل الصورة غير قابلة للاستجابة للنقرات */
  color: var(--icon_btn_color);
}


.input_number_cointainer{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-block-end: 1rem;
  margin-inline-end: 3rem;
  /* هياخد مارجن الالانبوت بدل الانبوت نفسه */
  border: none;
  height: auto;
  width: auto;
  align-items: center;
}

.input_number_cointainer input[type='number'] {
  display: block;
  color: var(--Font_Color);
  background-color: var(--input_text_background_color);
  border-radius: 0.3rem;
  border: var(--border_normal);
  border-inline-end: none;
  padding: 0.5rem;
  width: 7rem;
  /* flex-basis: 33%; */
  height: var(--input_height);
  transition: var(--transition);
  text-align: center;
}


.input_number_cointainer span{
  position: relative;
  display: flex;
  /* text-align: center; */
  align-items: center;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0.7rem;
  background-color: var(--btn_search_backcolor);
  color: var(--Font_Color);
  border-radius: 0.3rem;
  border: var(--border_normal);
  border-inline-start: none;
  height: var(--input_height);
  transition: var(--transition);
}

.input_date {
  /* خلى بالك التعديل فى الطول والخط يستلزم تعديل فى بقى  الانبوتس  والعكس */
  display: block;
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding-block-start: 0.7rem;
  padding-inline-start: 3rem;
  padding-block-end: 0.7rem;
  padding-inline-end: 0.7rem;
  width: 12rem;
  height: var(--input_height);
  transition: var(--transition);
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
}

.search_input {
  /* خلى بالك التعديل فى الطول والخط يستلزم تعديل فى بقى  الانبوتس  والعكس */
  display: block;
  color: var(--Font_Color);
  background-color: var(--input_text_background_color);
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding-block-start: 0.7rem;
  padding-inline-start: 3rem;
  padding-block-end: 0.7rem;
  padding-inline-end: 0.7rem;
  width: 22rem;
  height: var(--input_height);
  transition: var(--transition);
  text-align: start;
}

@media screen and (max-width: 750px) {
  .search_input {
    width: 100%;
  }
}

.pass_input {
  /* خلى بالك التعديل فى الطول والخط يستلزم تعديل فى بقى  الانبوتس  والعكس */
  display: block;
  color: var(--Font_Color);
  background-color: var(--input_text_background_color);
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding-block-start: 0.7rem;
  padding-inline-start: 3rem;
  padding-block-end: 0.7rem;
  padding-inline-end: 0.7rem;
  width: 22rem;
  height: var(--input_height);
  transition: var(--transition);
  text-align: start;
}

@media screen and (max-width: 750px) {
  .pass_input {
    width: 100%;
  }
}

.input_text_sm {
  width: 10rem;
  max-width: 100%;
}

.input_text_md {
  width: 27rem;
  max-width: 100%;
}

.input_text_lg {
  width: 40rem;
  max-width: 100%;
}

.input_text_xl {
  width: 70%;
  max-width: 70rem;
}

.select_month{
  width: 5rem;
  max-width: 100%;
}


.select_year{
  width: 7rem;
  max-width: 100%;
}

.input_text_sm,
.input_text_md,
.input_text_lg,
.input_text_xl,
.select_month,
.select_year {
  position: relative;
  height: var(--input_height);
  border: var(--border_normal);
  border-radius: 0.3rem;
  transition: var(--transition);
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;

  margin-block-end: 1rem;
  color: var(--Font_Color);
  background-color: var(--input_text_background_color);
}

@media screen and (max-width: 750px) {
  .input_text_sm,
  .input_text_md,
  .input_text_lg,
  .input_text_xl,
  .input_date {
    width: 100%;
  }
}

.input_error{
  border: var(--input_error_border)  ;
}






/* ! End - input-text*/

/* ^ Start -- Buttons*/

.btn_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-block-end: 1.5rem;
}

.btn_container_top_border {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 3.2rem;
  padding-block-start: 1.5rem;
  width: 100%;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  border-block-start: var(--h2_border_bottom);
}

.btn_container a,
.btn_container button,
.btn_container_top_border a,
.btn_container_top_border button {
  margin-inline-end: 1rem;
}

.btn_save {
  background-color: var(--btn_save_backcolor);
}

.btn_new {
  background-color: var(--btn_new_backcolor);
}

.btn_update {
  background-color: var(--btn_update_backcolor);
}

.btn_cancel {
  background-color: var(--btn_cancel_backcolor);
}

.btn_save,
.btn_new,
.btn_update,
.btn_cancel {
  position: relative;
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--btn_color);
  width: fit-content; min-width: 7rem;
  height: 3.5rem;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: var(--transition);
}

.btn_save:hover,
.btn_new:hover,
.btn_update:hover,
.btn_cancel:hover,
.btn_search:hover {
  opacity: var(--btn_hover_opacity);
}

.btn_save:active,
.btn_new:active,
.btn_update:active,
.btn_cancel:active,
.btn_search:active {
  transform: scale(1.1); /* زيادة حجم العنصر بنسبة 10% */
}

/* ^ End -- Buttons*/

/*! start - Label*/
.lbl_sm {
  position: relative;
  display: inline-block;
  word-wrap: none;
  /* التفاف النص  */
  display: block;
  font-weight: bold;
  width: fit-content;
  margin-inline-start: 0.5rem;
  margin-block-end: 0.8rem;
  margin-block-start: 0.5rem;
  color: var(--Font_Color);
  transition: var(--transition);
}

/*! end - Label*/

/*! permesions*/



.lbl_permissions {
  position: relative;
  display: inline-block;
  word-wrap: none;
  /* التفاف النص  */
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--Font_Color);
  transition: var(--transition);
  text-wrap: nowrap;
}

.permission_select {
  width: 25rem;
  height: var(--input_height);
  color: var(--Font_Color);
  background-color: var(--input_text_background_color);
  font-size: 1.4rem;
  padding: 0.6rem;
  transition: var(--transition);
  border: var(--border_normal);
  text-align: start;
}

.permission_table_select {
  height: var(--input_height);
  width: 4rem;
  line-height: 100%;
  color: var(--Font_Color);
  font-weight: bold;
  background-color: var(--input_text_background_color);
  text-align: start;
}

@media screen and (max-width: 750px) {
  .permission_select {
    width: 100%;
  }
}
/* Page Login=================================== */

.login_div {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 45rem;
  height: 40rem;
  border-radius: 0.5rem;
  padding: 4rem;
  box-shadow: 0 0 2.5rem var(--icon_btn_color);
  background-color: rgb(250, 250, 250);
  margin: auto;
}

@media screen and (max-width: 750px) {
  .login_div {
    width: 90%;
  }
}

.login_word {
  position: relative;
  font-size: 3rem;
  color: teal;
  margin-block-start: 3rem;
  margin-block-end: 4rem;
}

.login_text {
  background-color: #123;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-block-start: 6rem;
}

.login_textbox {
  border-radius: 0.3rem;
  border: var(--border_normal);
  box-sizing: border-box;
  display: block;
  margin-block-end: 3rem;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  padding-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 0;
  padding-inline-end: 1rem;
  background-color: aliceblue;
  font-size: 1.7rem;
  color: royalblue;
  transition: 0.5s;
}

.wrong_username {
  position: relative;
  align-items: center;
  margin-block-start: 3rem;
  text-align: center;
  white-space: nowrap;
  display: block;
  color: red;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.number_input {
  border-radius: 0.3rem;
  border: var(--border_normal);
  box-sizing: border-box;
  display: block;
  margin: 2.5rem auto;
  align-items: center;
  text-align: center;
  height: 7rem;
  width: 8rem;
  padding-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 0;
  padding-inline-end: 1rem;
  color: rgb(27, 27, 27);
  background-color: aliceblue;
  font-size: 1.7rem;
  font-weight: bold;
  transition: 0.5s;
}

.number_inpu_arrows {
  cursor: pointer;
  align-items: center;
  text-align: center;
  line-height: 1;
  /* زيادة الارتفاع الرأسي لتوسيط السهم */
  width: 3rem;
  color: rgb(42, 42, 42);
  font-size: 3rem;
  transition: transform 0.2s;
}

.number_inpu_arrows:active {
  cursor: pointer;
  color: white;
  background-color: royalblue;
}

/* End Login=================================================== */

/* start header======================================= */
.header {
  position: sticky;
  display: flex; flex-direction: row; flex-wrap: wrap;
  align-items: center;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 0;
  padding-inline-end: 1rem;
  height: fit-content; /* da lazem yb2a auto 3ahan low rl 3naser keter we el wrap esh8al yb2a el height tamam */
  width: 100%;
  /* background-image: linear-gradient(rgb(255,255,255),rgb(245,245,245)); */
  background-color: var(--bg_navbar);
  box-shadow: 0 0 0.5rem var(--icon_btn_color);
  transition: var(--transition);
  z-index: 100;
  overflow-wrap: break-word;
  /* تجاوز السطر في حال كان النص طويلاً */
  word-wrap: break-word;
  word-break: break-word;
}

.header_dark_lang_control {
  position: relative;
  display: flex;
  flex-direction: column;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: var(--hover_btn_color);
  transition: var(--transition);
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  height: var(--header_element_height); /* all header elements must take this value */
}

.header_dark_lang_control a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 3rem;
  padding-inline-start: 0.8rem;
  padding-inline-end: 0.8rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  transition: var(--transition);
}

.header_menue {
  display: flex; flex-direction:row; flex-grow: 1; flex-wrap: nowrap;
  transition: var(--transition);
}

.header_menue a{
  transition: var(--transition);
}

.header_user_div {
  position: relative;
  display: flex; flex-direction: column;
  justify-content: center; align-items: end;
  width: auto;
  flex-wrap: nowrap;
  transition: var(--transition);
  height: var(--header_element_height); /* all header elements must take this value */
}
#header_user_name{
  position: relative;
  font-weight: bold;
  cursor: pointer;
  background-color: inherit;
  color: var(--Font_Color);
  transition: var(--transition);
}

.user_options{
  position: absolute;
  inset-block-start: 4.5rem;
  inset-inline-end: 0;
  display: flex; flex-direction: column;
  justify-content: center; align-items: end;
  text-wrap: nowrap; flex-wrap: nowrap;
  gap: 1rem;
  background-color: var(--bg_white_backcolor);
  border: var(--border_normal);
  border-radius: 1rem;
  padding: 0.7rem;
  transition: var(--transition);
}
/* .user_options button{
background-color: inherit;
transition: var(--transition);
cursor: pointer;
} */

/* .user_options button:hover{
  opacity: 0.8;
} */




.header_menue a {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: var(--header_element_height); /* all header elements must take this value */
  padding-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 0;
  padding-inline-end: 1rem;
  /* border: solid blue 0.1rem; */
  text-decoration: none;
  white-space: nowrap;
  transition: var(--transition);
}

.header a:hover {
  box-sizing: border-box;
  background-color: var(--hover_btn_color);
}

/* End# Header=========================================== */

/* start main============================================== */

/* start container ----------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  /**/

  /**/
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  border: var(--border_normal);
  box-shadow: 0 0.1rem 0.5rem var(--icon_btn_color);
  overflow: hidden;
}

/* start sub_header--------------------------- */

/* end# .sub_header */

/* start sub_container======================== */

.sub_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 100%;
  height: auto;
  min-height: 100%;
  /* overflow: auto; */
  /* مهم جدا لضمان ان يكون الاسكرول بار فقط فى ال بودى */
}

/* end# sub_container============================ */

/*! start sidebar============================ */

/* تحديد المتغيرات بناءً على اتجاه الصفحة */
:root {
  /* افتراضياً يتم التحرك من اليسار إلى اليمين */
  --sidebar-translate-in: translateX(-100%);
  --sidebar-translate-out: translateX(0);
}

html[dir="rtl"] {
  /* في حالة الاتجاه من اليمين إلى اليسار، يتم التحرك من اليمين إلى اليسار */
  --sidebar-translate-in: translateX(100%);
  --sidebar-translate-out: translateX(0);
}


/* الرسوم المتحركة */
/* الرسوم المتحركة للشريط الجانبي */
@keyframes sidebarFadeIn {
  from {
      opacity: 0;
      /* استخدام المتغيرات المحددة */
      transform: var(--sidebar-translate-in);
  }
  to {
      opacity: 1;
      transform: var(--sidebar-translate-out);
  }
}

@keyframes sidebarFadeOut {
  from {
      opacity: 1;
      transform: var(--sidebar-translate-out);
  }
  to {
      opacity: 0;
      /* استخدام المتغيرات المحددة */
      transform: var(--sidebar-translate-in);
  }
}


.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 20rem;
  background-color: var(--bg_sidebar);
  padding: 1rem;
  transition: var(--transition);
  height: auto;
  min-height: 100%;
}

/* hide side_parent if screen < 750 */
@media screen and (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

/* تطبيق الرسوم المتحركة على الشريط الجانبي عند ظهوره واختفائه */
.sidebar_Media_Show {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header_element_height));
  width: 100%;
  inset-inline-start: 0;
  overflow: auto;
  z-index: 10;
  transition: var(--transition);
  min-height: auto; /* مهم لإزالة الحد الأدنى من الارتفاع في الشريط الجانبي */
  
  /* تطبيق الرسوم المتحركة */
  animation-duration: 0.3s; /* يمكنك تغيير مدة الرسوم المتحركة حسب الحاجة */
  animation-fill-mode: forwards; /* يحافظ على الحالة النهائية للرسوم المتحركة */
}

/* تطبيق الرسوم المتحركة عند ظهور الشريط الجانبي */
.sidebar_Media_Show.show {
  animation-name: sidebarFadeIn;
}

/* تطبيق الرسوم المتحركة عند اختفاء الشريط الجانبي */
.sidebar_Media_Show.hide {
  animation-name: sidebarFadeOut;
}
.no_scroll {
  overflow:hidden;
}

.closeMenueIcon {
  display: none;
  position: relative;
  height: 3rem;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-block-end: 1rem;
  width: 3rem;
  inset-inline-start: 92%;
  transition: var(--transition);
}

.closeMenueIcon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 750px) {
  .closeMenueIcon {
    display: flex;
    flex-direction: row;
  }

  .closeMenueIcon i {
    /* el X ely gowa hya shafafa fadya fabtgep el lon el 5alfya ely waraha */
    color: var(--btn_cancel_backcolor);
    font-size: 3rem;
  }
}

.sidebar a, .sidebar button  {
position: relative;
display: flex; flex-direction: row; flex-wrap: wrap;
justify-content: start; align-items: center;
gap: 1.3rem;
  /******************/
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  width: 100%;
  text-decoration: none;
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--bg_sidebar);
  color: var(--Font_Color);
  cursor: pointer;
  transition: var(--transition);
  /* border: 0.1rem solid rgb(230, 230, 230); */
}

.sidebar a:hover, .sidebar button:hover {
  box-sizing: border-box;
  background-color: var(--hover_btn_color);
  border-inline-start: 0.5rem solid var(--borderColor_Hover);
  color: var(--Font_Color);
}

/* 
#Custmize_sidebar {
  margin-inline-start: 3rem;
  display: block;
  width: 100%;
  background-color: transparent;
  color: blue;
  margin-block-start: 2rem;
  text-align: center;
  transition: var(--transition);
} */


.sidebar-active {
  border-inline-start: 0.5rem solid #ff5722;
  color: white;
  background-color: #ff5722;
  transition: var(--transition);
}

.MenueIcon {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* توسيط العنصر في الاتجاه الرأسي */
  height: 6rem;
  /* margin: 0 1rem; */
  padding-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 0;
  padding-inline-end: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.MenueIcon i{
font-size: 2rem;
}

.MenueIcon:hover {
  background-color: var(--hover_btn_color);
}

@media screen and (max-width: 750px) {
  .MenueIcon {
    display: flex;
  }
}

/*! End# Sidbar=============================== */

/* start white_backcolor =========================== */
.white_backcolor {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  background-color: var(--bg_white_backcolor);
  border-radius: 0.1rem;
  padding: 2rem;
  transition: var(--transition);
  /* overflow: auto; */
  /* height: auto;
  min-height: 100%; */
  /* مهم جدا لضمان ان يكون الاسكرول بار فقط فى ال بودى */
}

@media screen and (max-width: 750px) {
  .white_backcolor{
    padding: 0;
  }
}

/* start localspace ====================== */
#content_space {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.1rem;
  /* height: auto;
  min-height: 100%; */
  /* مهم جدا لضمان ان يكون الاسكرول بار فقط فى ال بودى */
  width: 100%;
  border: none;
  background-color: var(--bg_content_space);
  padding: 1.5rem;
  /* overflow: auto; */
  transition: var(--transition);
}

/* End# localspace================================ */

/* #end white_backcolor=========================== */

/* End# container ----------------------------------------- */

/* End# main ====================================================== */

/* start footer======================== */
.footer {
  border: solid blue 0.2rem;
  height: 5rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  bottom: 0;
}

/* End# footer============================ */

.test {
  flex-grow: 1;
  pointer-events: none;
  /* هنا تجعل الصورة غير قابلة للاستجابة للنقرات */
  align-items: baseline;
  align-items: center;
  /* فى النص */
  align-items: flex-start;
  /* بداية الشمال */
  align-items: flex-end;
  /* نهايه اليمين */
  align-items: stretch;
  /* تمديد */
}

/* -----------------------------------Pages------------------------------------- */

.pages_footer {
  display: flex;
}

.group_div_flex {
  display: flex;
  flex-wrap: wrap;
  /* عشان تنزل العناصر تحت بعض فى حال ان الشاشخ  */
  align-items: center;
  /* توسيط العمصر فى الاتجاه العمودى */
}

.flex_H {
  /* افقى */
  position: relative;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; عشان تنزل العناصر تحت بعض فى حال ان الشاشخ  */
  align-items: center;
  /* توسيط العمصر فى الاتجاه العمودى */
  /* padding: 0.5rem; */
  /* margin: 0.3rem; */
}

.flex_V {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* padding: 0.5rem; */
}

.fill {
  flex: 1;
  /* يعطى العنصر كامل الحجم المتبقى من المساحه فى العنصر الاب  */
}

.group_div_block {
  padding: 0.5rem;
  /* margin: 0.7rem 0.5rem; */
  display: block;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.date_container {
  display: flex;
  flex-direction: row;
}

.date_box {
  display: block;
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding: 0.5rem;
  width: 13rem;
  height: var(--input_height);
  transition: 0.2s ease;
  text-align: start;
}

.reference_text {
  display: block;
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding: 0.5rem;
  width: 20rem;
  height: var(--input_height);
  transition: 0.2s ease;
  text-align: center;
}

.note_text {
  display: block;
  border-radius: 0.3rem;
  border: var(--border_normal);
  padding: 0.5rem;
  width: 25.5rem;
  height: 2.7rem;
  text-align: start;
  transition: 0.2s ease;
}

.reference_div_container {
  margin-inline-start: 1rem;
  display: block;
}

.reference_div_checkbox {
  display: flex;
  align-items: center;
}

.reference_div_checkbox span {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  align-items: center;
  padding-block-start: 0;
  padding-inline-start: 0.7rem;
  padding-block-end: 0;
  padding-inline-end: 0.7rem;
  border-radius: 0.3rem;
  overflow: hidden;
  height: var(--input_height);
  border: var(--border_normal);
}

.span{
  position: relative;
  display: flex;
  /* text-align: center; */
  align-items: center;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0.7rem;
  background-color: var(--btn_search_backcolor);
  color: var(--Font_Color);
  border-radius: 0.3rem;
  border: var(--border_normal);
  border-inline-start: none;
  height: var(--input_height);
  transition: var(--transition);
}

.reference_checkbox {
  height: 3rem;
}

.btn_search {
  width: 7rem;
  height: var(--input_height);
  padding-block-start: 0.7rem;
  padding-inline-start: 0;
  padding-block-end: 0.7rem;
  padding-inline-end: 0;
  background-color: var(--btn_search_backcolor);
  color: var(--btn_search_color);
  border: var(--border_normal);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  margin-block-end: 1rem;
  border-radius: 0.3rem;
  transition: var(--transition);
}

.left_icon {
  position: absolute;
  inset-inline-end: 0.3rem;
  /* background-color: white; */
  color: var(--Font_Color);
  margin-inline-end: 0.5rem;
}

.eye_icon {
  position: relative;
  margin: auto;
  font-size: 1.5rem;
  color: var(--Font_Color);
}

.btn_eye {
  width: 4rem;
  height: var(--input_height);
  background-color: var(--btn_search_backcolor);
  color: var(--btn_search_color);
  border: var(--border_normal);
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  margin-block-end: 1rem;
  border-radius: 0.3rem;
  transition: var(--transition);
}

.select_month_div {
  position: relative;
  width: 8rem;
  display: flex;
  flex-direction: row;
  border: none;
  outline: 0;
  text-align: center;
  align-items: center;
  height: var(--input_height);
  border-radius: 0.3rem;
  margin: 0.5rem;
  cursor: pointer;
}

.select_month_div select {
  position: relative;
  height: var(--input_height);
  width: 100%;
  border: var(--border_normal);
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: white;
  transition: 0.2s ease;
  padding: 0.5rem;
  cursor: pointer;

}

.select_month_div select option {
  position: relative;
  height: var(--input_height);
  width: 100%;
  border: var(--border_normal);
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: white;
  transition: 0.2s ease;
  padding: 0.5rem;
}



.dropdown_container {
  display: flex; flex-direction: column;
  position: relative;
  border: none;
  width: 25rem;
  height: var(--input_height);
  margin-block-end: 1rem;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  border-radius: 0.3rem;
  transition: var(--transition);
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .dropdown_container{
    width: 100%;
  }
}


.dropdown_select {
  display: flex;  flex-direction: row;
  position: relative;
  outline: none;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  transition: var(--transition);
  align-items: center;
  z-index: 1;
  
}

.dropdown_select i{
  position: absolute;
  inset-inline-start: 1rem;
  pointer-events: none;
  /* هنا تجعل الصورة غير قابلة للاستجابة للنقرات */
  color: var(--icon_btn_color);
  z-index: 3;
  width: fit-content;
  transition: var(--transition);
}

.dropdown_select_input {
  border: var(--border_normal);
  height: var(--input_height);
  width: 100%;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  padding-inline-start: 3rem;
  padding-inline-end: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
  
}

.dropdown_menue {
  position: absolute;
  /* inset-block-start: 100%; */
  inset-inline-end: 0;
  z-index: 1;
  /* display: none; */
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  border: var(--border_normal);
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  transition: var(--transition);
}

.dropdown_menue_Open_bottom{ /* thisi is used in javascript  */
  inset-block-start: 100%;
}

.dropdown_menue_Open_top{ /* thisi is used in javascript  */
  inset-block-end: 100%;
}


.dropdown_menue input {
  /* position: relative; */
  height: var(--input_height);
  width: 100%;
  padding-block-start: 0;
  padding-inline-start: 0.5rem;
  padding-block-end: 0;
  padding-inline-end: 0.5rem;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  border: var(--border_normal);
  transition: var(--transition);
}

.dropdown_search {
  display: flex;
  position: sticky;
  inset-block-start: 0;
  width: 100%;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  padding: 0.6rem;
  z-index: 2;
  border: var(--border_normal);
  transition: var(--transition);
}

.dropdown_search input {
  position: relative;
  width: 100%;
  height: var(--input_height);
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: var(--input_text_background_color);
  color: var(--Font_Color);
  border: var(--border_normal);
  transition: var(--transition);
}

.dropdown_search i {
  position: absolute;
  color: var(--icon_btn_color);
  inset-inline-end: 1.2rem;
  inset-block-start: 1.3rem;
  font-size: 1.4rem;
  transition: var(--transition);
}



/* ----------------------------------------------- */

.tree_2div_container{
  display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: 1;
  gap: 2rem; /*  المسافه الداخلية بين العناصر */
}



.tree{
  display: flex; flex-direction: column; justify-content: start; align-items: start; flex-grow: 1;
  overflow-y: auto; /* بدون دا العرض فى الموبايل هيبوظ */
}

.tree_info{
  display: flex; flex-direction: column; justify-content: start; align-items: start; flex-grow: 1;
  overflow-y: auto; /* بدون دا العرض فى الموبايل هيبوظ */
}


.lbl_group_name{
  position: relative;
  display: inline-block;
  word-wrap: none;
  /* التفاف النص  */
  display: block;
  font-weight: bold;
  width: fit-content;
  margin-inline-start: 0.5rem;
  /* margin-block-end: 0.8rem; */
  /* margin-block-start: 0.5rem; */
  color: var(--Font_Color);
  transition: var(--transition);
  
}

/* tables */

/* table containesr */
.table_container{
  overflow: auto;
}
.review_table {
  border-collapse: collapse;
  border-radius: 0.3rem;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
/* 
الكود دا  وظيفته انه بيخلى الهيدر ثابت لما تعمل سكرول لكن بيتعارض مع الاوفرفلو الى فى التابل كونتينير  لو شلتها هتشتغل مش عارف ايه المشكله
.review_table thead{
  position: sticky;
  inset-block-start: 5.9rem; /* da nafs hight beta3 el header 3ashan  yb2a el thead ta7t el header lama ykon sticky */
}
 */
.review_table th {
  align-items: center;
  text-align: start;
  background-color: var(--table_header_background_color);
  color: var(--table_header_color);
  height: 3rem;
  text-align: justify;
  transition: var(--transition);
}

.review_table td,
.review_table th {
  border: var(--table_border);
  padding: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

/* todo main row */
.review_table tbody tr:nth-child(odd) {
  background-color: var(--table_row_main_background_color);
  color: var(--table_row_main_color);
  transition: var(--transition);
}

.review_table tbody tr:nth-child(odd):hover {
  background-color: var(--table_row_main_background_color_while_hover);
  color: var(--table_row_main_color_while_hover);
}

/*___________________________________*/

/* todo alternative row*/
.review_table tbody tr:nth-child(even) {
  background-color: var(--table_row_alternative_background_color);
  color: var(--table_row_alternative_color);
  transition: var(--transition);
}

.review_table tbody tr:nth-child(even):hover {
  background-color: var(--table_row_alternative_background_color_while_hover);
  color: var(--table_row_alternative_color_while_hover);
}

.td_no_result{
  color: var(--Font_Color);
}

/*________________________________*/

/* .review_table tr:hover {
  background-color: #ddd;
} */

/* row height */
.review_table tr {
  height: 3.5rem;
}

.tabble_update_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--btn_update_backcolor);
  color: var(--btn_color);
  border: 0.1rem solid var(--btn_update_backcolor);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--transition);
}

.tabble_view_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--btn_new_backcolor);
  color: var(--btn_color);
  border: 0.1rem solid var(--btn_new_backcolor);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--transition);
}


.tabble_update_btn:hover, .tabble_view_btn:hover {
  opacity: var(--btn_hover_opacity);
  /* لون خلفية الزر عند التحويل إليه */
}

.table_totals_row {
  color: var(--Font_Color);
  font-weight: bold;
  opacity: 0.9;
}

.table_footer_btn{
  border: none;
  width: 8rem;
  /* height: 3rem; */
  padding-block-start: 1rem;
  padding-inline-start: 1.8rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.8rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: var(--table_footer_btn_background_color);
  color: var(--table_footer_btn_color);
  border: var(--border_normal);
  transition: var(--transition);
}


.table_footer_btn:hover {
  opacity: var(--btn_hover_opacity);
}

/*! END / table-----------------------------------------------*/

.upArrow {
  border: none;
  color: gray;
  align-items: center;
  text-align: center;
  margin-inline-end: 0.7rem;
  cursor: pointer;
  transition: var(--transition);
}

.upArrow:hover {
  color: blue;
  transform: scale(1.2);
}

/* Media examplese */

/* 1:- فى حالة الشاشه اكبر من او تساوى  750 بكسل يتم الاتى  */
@media screen and (min-width: 750px) {
  /* .sidebar {
        width: 25rem;
        height: 100%;
    } */
}

/* 2:- فى حالة الشاشه اصغر من او تساوى 750 بكسل يتم الاتى  */
@media screen and (max-width: 750px) {
  /* .sidebar {
        height: 5rem;
        flex-direction: row;
        width: 100%;
        position: fixed;
        inset-block-start: 0;
        overflow-x: auto;
    }

    .buttons {
        flex-direction: row;
    } */
}




/*! alerts */

/* التأثيرات الانتقالية */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* إخفاء النافذة */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* @@@@@@@@@ اوعى تحذف اى تعليق @@@@@@@ */
.alert-container {
  position: fixed;
  inset-block-start: 0;
  /* bottom: 0; عرض التنبيهات   اسفل الشاشه */
  /* inset-inline-start: 0; */
  inset-inline-start: 0;
  /* use this insted of right :0  to responsive with page direction*/
  margin: 1rem;
  width: auto;
  max-width: 100%;
  /* لتتجاوب مع كل الشاشات */
  z-index: 999;
  /* الظهور فوق كل العناصر */
  display: flex;
  flex-direction: column;
  /* ترتيب التنبيهات من الاسفل إلى الاعلى */
  /* flex-direction: column-reverse; ترتيب التنبيهات من الأعلى إلى الأسفل */
  align-items: flex-start;
  /* تحديد محور الضبط إلى اليمين */
  /*align-items: center; /* تحديد محور الضبط إلى المنتصف */
  /*align-items: flex-end; /* تحديد محور الضبط إلى اليسار */
}

.alert {
  margin-block-end: 1rem;
  padding: 2rem;
  border-radius: 0.2rem;
  position: relative;
  opacity: 0;
  cursor: pointer;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: start;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  /* أزل تأثير transition الخاص بـ opacity والتحويل */
}

/* تطبيق الرسوم المتحركة عند الظهور */
.alert.show {
  animation: fadeIn 0.5s forwards;
  /* يمكنك تعديل مدة الرسوم المتحركة حسب الحاجة */
}

/* تطبيق الرسوم المتحركة عند الاختفاء */
.alert.hide {
  animation: fadeOut 0.5s forwards;
  /* يمكنك تعديل مدة الرسوم المتحركة حسب الحاجة */
}

/* تطبيق الرسوم المتحركة عند الظهور */
.alert.show {
  animation: fadeIn 0.5s forwards;
  /* يمكنك تعديل مدة الرسوم المتحركة حسب الحاجة */
}

/* تطبيق الرسوم المتحركة عند الاختفاء */
.alert.hide {
  animation: fadeOut 0.5s forwards;
  /* يمكنك تعديل مدة الرسوم المتحركة حسب الحاجة */
}


.alert:hover {
  /* box-shadow: 0px 0px 4rem rgba(0, 0, 0, 0.7); */
  box-shadow: 0px 0px 3rem #66afe9;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-inline-start: 0.7rem solid green;
  font-size: 1.5rem;
  font-weight: bold;
}

.alert-fail {
  color: #721c24;
  background-color: #f8d7da;
  border-inline-start: 0.7rem solid red;
  font-size: 1.5rem;
  font-weight: bold;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-inline-start: 0.7rem solid blue;
  font-size: 1.5rem;
  font-weight: bold;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  /* #fff3cd */
  border-inline-start: 0.7rem solid orange;
  /*#ffeeba*/
  font-size: 1.5rem;
  font-weight: bold;
}

/* .alert-content {
    margin: 0;
    color: var(--btn_color);
    font-size: 1.5rem;
    font-weight: bold;
  } */

.alert.show {
  opacity: 1;
  transform: translateY(0);
  /* تحريك التنبيه إلى الأعلى عند الظهور */
}


/** Dialog*/
    /* تغليف النافذة */
    #dialogOverlay {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }
  
  /* النافذة */
  .dialog {
      background-color: var(--bg_white_backcolor);
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
      animation: fadeIn 0.3s;
      /* margin-block-start: 50%; */
  }

  .dialog_header{
    position: relative;
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: start;
    margin-block-end: 1rem;
  }

/* 
  .dialog_header h3 {
    position: relative;
    display: flex; flex-direction: row; justify-content: start; align-items: center;
    border-block-end: var(--h2_border_bottom);
    background-color: var(--h2_background_color);
    padding-block-end: 1rem;
    width: 100%;
    color: var(--h2_color);
    box-shadow: var(--h2_box_shadow);
    transition: var(--transition);
    margin-block-end: 1.5rem;
    line-height: 2.5rem;
  } */
  
  .dialog_body{
    position: relative;
    display: flex; flex-direction: column; justify-content: center; align-items: center;

  }

  .dialog_body p{
    position: relative;
    background-color: var(--h2_background_color);
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--h2_color);
    box-shadow: var(--h2_box_shadow);
    transition: var(--transition);
    line-height: 2.5rem;
  }
  
  .dialog_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 3.2rem;
    padding-block-start: 1.5rem;
    width: 100%;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    border-block-start: var(--h2_border_bottom);
    gap: 1rem;
  }
  /* الأزرار
  .dialog-footer button {
      margin: 5px;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
  } */
  
