<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/jstree/dist/themes/default/style.min.css">
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
<style>
   /* .jstree-leaf > .jstree-anchor > .jstree-themeicon { background:red !important; }
   .jstree-container-ul li a{
    color: red;
   } */
</style>
</head>

<body class="body">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>


    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>


      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">
          <h2 class="h2">
            <i class="fa-solid fa-arrow-right back_icon" onclick="back()"></i>
    
            الموظفين
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->

          <!-- 
          <div class="btn_container">
            <a href="/new_employee_ar" class="btn_new" id="newBtn">جديد</a>
          </div> -->


          <!-- search in table -->

          <!-- <div class="flex_row">
            <div class="input_with_icon_div">
              <input type="search" name="searchInput" id="searchInput" placeholder="search" class="search_input hover">
              <i class="fa-solid fa-magnifying-glass left_icon"></i>
            </div>
            <button id="searchBtn" class="btn_search hover">search</button>
          </div> -->

          <!-- table container filled by js -->
          <!-- <div id="table-container"></div> -->

          <div class="btn_container">
            <button class="btn_new">عرض شجرى</button>
            <button class="btn_new">عرض جدولى</button>
          </div>

          <div class="tree_2div_container">
            <div id="tree" class="tree"></div> <!-- 5as be el tree viewer it's fill from javascript -->

            <div id="tree_info" class="tree_info" style="display: none;">
              <h2 id="h2_header" class="h2">asfasf</h2>


              <!-- معرف الحساب -->
              <div id="acc_no_div" class="flex_column" style="display: none;">
                <label for="account_no_input" class="lbl_sm">معرف الحساب</label>
                <input type="search" id="account_no_input" class="input_text_sm hover" placeholder="اختيارى" autocomplete="off">
                <input type="hidden" id=" is_main_acc_input_hidden">
              </div>
              <!-- اسم الحساب -->
              <label for="account_name_input" id="lbl_acc_name" class="lbl_sm">اسم الحساب</label>
              <input type="search" id="account_name_input" class="input_text_md hover" autocomplete="off">
              <input type="hidden" id="account_id_hidden">
              <input type="hidden" id="final_account_hidden">

              <!--   القائمة والمجموعه-->
              <label for="account_parent_name_span" class="lbl_sm">المجموعه</label>
              <div class="flex_row x_start y_center mb_10">
                <span id="statment_type_span" class="span">المركز المالى</span>
                <input type="hidden" id="statment_type_span_hidden_value">
                <span id="account_parent_name_span" class="lbl_group_name"
                  title="لتغيير المجموعه يرجى استخدام خاصية السحب والافلات فى الدليل المحاسبى">الاصول المتداولة</span>
                <input type="hidden" id="account_parent_name_span_hidden_id">
              </div>


              <div id="final_account_information_div" class="flex_column" style="display: none;">
                <!-- قائمة التدفقات النقدية -->
                <label for="cash_flow_statement" class="lbl_sm">التدفقات النقدية</label>
                <select name="cash_flow_statement" id="cash_flow_statement" class="permission_select mb_10">
                  <option value="1">الانشطه التشغيلية</option>
                  <option value="2">الانشطه الاستثمارية</option>
                  <option value="3">الانشطه التمويليه</option>
                  <option value="4">النقد وما فى حكمه</option>
                </select>

                <!-- الرصيد الاقتتاحى -->
                <label for="starting_balance_input" class="lbl_sm">الرصيد الافتتاحى بالعمله المحليه</label>
                <div class="flex_row x_start y_center mb_10">
                  <select name="" id="starting_balance_type_select" class="span">
                    <option value="1">مدين</option>
                    <option value="2">دائن</option>
                  </select>
                  <input type="search" id="starting_balance_value_input" class="input_text_sm m_0 hover"
                    oninput="check_parse(this,'number')" autocomplete="off">
                </div>
              </div>
              <div class="btn_container_top_border">
                <button id="btn_save" class="btn_save" style="display: none;">حفظ</button>
                <button id="btn_update" class="btn_update" style="display: none;">تعديل</button>
                <button id="btn_delete" class="btn_cancel" style="display: none;">حذف</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end body content -->






    <!-- scripts------------------------------------------------------------------------------ -->
    <script src="/public/scripts/jquery/jquery.min.js"></script>
    <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
    <script src="/public/socket/socket.io.min.js"></script>
    <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
    <script src="/public/jstree/dist/jstree.min.js"></script>
    <script src="/public/scripts/ar/accounts/accounts_view_ar.js"></script>
    <!-- <script src="/public/scripts/ar/accounts/accounts_view_ar copy.js"></script> -->



</body>

</html>