<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    
    <button id="scrollToTopBtn">&#9650;</button>

     <!-- start ------------------------------------------------------------------------------------------>
     <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>


    <div id="white_backcolor" class="white_backcolor">
      <!-- content -->
      <div id="content_space" class="scroll">
        <h2 class="h2">
          <a href="employees_ar">
            <i class="fa-solid fa-arrow-right back_icon"></i>
          </a>
    
          الموظفين / موظف جديد
        </h2>
        <!-- ________________________________________________CONTENT_____________________________________________________________ -->





          <label for="employee_name_input" class="lbl_sm">اسم الموظف</label>
          <input type="search" id="employee_name_input" class="input_text_md hover" autocomplete="off">
          

          <label for="employee_job_input" class="lbl_sm">الوظيفة</label>
          <input type="search" id="employee_job_input" class="input_text_md hover">

          <label for="employee_beta2a_input" class="lbl_sm">رقم البطاقة</label>
          <input type="search" id="employee_beta2a_input" class="input_text_md hover" autocomplete="off">

          <label for="employee_adress_input" class="lbl_sm">العنوان</label>
          <input type="search" id="employee_adress_input" class="input_text_xl hover" autocomplete="off">

          <label for="employee_phone_input" class="lbl_sm">رقم هاتف شخصى</label>
          <input type="tel" id="employee_phone_input" class="input_text_md hover" autocomplete="off">

          <label for="employee_emergency_phone_input" class="lbl_sm">رقم طوارىء</label>
          <input type="tel" id="employee_emergency_phone_input" class="input_text_md hover" autocomplete="off">

          <label for="employee_start_date_input" class="lbl_sm">تاريخ التعيين</label>
          <!-- date -->
          <div class="input_with_icon_div">
            <input type="search" id="employee_start_date_input" class="hover input_date datepicker"
              placeholder="التاريخ..." readonly autocomplete="off">
            <i class="fa-regular fa-calendar"></i>
          </div>

          <label for="employee_leave_date_input" class="lbl_sm">تاريخ ترك العمل</label>
          <!-- date -->
          <div class="input_with_icon_div">
            <input type="search" id="employee_leave_date_input" class="hover input_date datepicker"
              placeholder="التاريخ..." readonly autocomplete="off">
            <i class="fa-regular fa-calendar"></i>
          </div>



          <div class="btn_container_top_border">
            <button class="btn_save" id="btn_save">حفظ</button>
          </div>


        <!-- search in table -->
        <!-- <div id="search-div" style="display: flex;">
                    <div class="search_div">
                        <input type="text" name="searchInput" id="searchInput" placeholder="search" class="hover">
                        <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                        <i class="fa-solid fa-magnifying-glass left_icon"></i>
                    </div>
                    <button id="searchBtn" name="searchBtn" class="searchBtn">search</button>
                </div> -->

        <!-- table container filled by js -->
        <!-- <div id="table-container"></div> -->

      </div>
    </div>
  </div>

</div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/employees/new_employee_ar.js"></script>


</body>

</html>