<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

     <!-- start ------------------------------------------------------------------------------------------>

     <div class="header">
      <a href="#" id="MenueIcon" class="MenueIcon" title="Open Menue">
        <i class="fa-solid fa-bars"></i>
      </a>
      <div class="header_dark_lang_control">
        <a id="dark_toggle_btn" class="">
          <i class="fa-solid fa-circle-half-stroke"></i>
        </a>
        <a href="" id="lang_btn" class=""> en </a>
      </div>

      <div class="header_menue">
        <a href="">
          <i class="fa-solid fa-question"></i>
          مساعده
        </a>

        <!-- <a href="">
            <i class="fa-solid fa-info"></i>
            <p>Home</p>
          </a> -->

      </div>


      <div class="header_user_div">
        <button id="header_user_name"></button>
        <div id="user_options" class="user_options" style="display: none;">
          <button id="user_setting_btn" class="btn_new" onclick="">الاعدادات</button>
          <button id="user_logout_btn" class="btn_cancel" onclick="logout()">خروج</button>
        </div>
      </div>


    </div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar">
        <div id="closeMenueIcon" class="closeMenueIcon">
          <i class="fa-solid fa-square-xmark"></i>
        </div>

        <a href="home_ar" target="_self" class="">
          <i class="fa-solid fa-display"></i>
          الملخص
        </a>

        <a href="employees_ar" target="_self" class="sidebar-active">
          <i class="fa-solid fa-user-tie"></i>
          الموظفين
        </a>

        <a href="attendance_ar" target="_self" class="">
          <i class="fa-solid fa-person-circle-exclamation"></i>
          المؤثرات
        </a>

        <a href="production_view_ar" target="_self" class="">
          <i class="fa-solid fa-industry"></i>
          الانتاج
        </a>
        
        <a href="attendance_report_ar" target="_self" class="">
          <i class="fa-regular fa-rectangle-list"></i>
          <p>تقارير</p>
        </a>

        <!-- <a href="index2.html" target="_self"> -->
        <a href="users_ar" target="_self" id="users_control_a" style="display: none;">
          <i class="fa-solid fa-user"></i>
          المستخدمين
        </a>

        <a id="Custmize_sidebar" href="#">
          <i class="fa-solid fa-gear"></i>
          <p>تخصيص</p>
        </a>
      </div>

    <div id="white_backcolor" class="white_backcolor">
      <!-- content -->
      <div id="content_space">
        <h2 class="h2">
          <i class="fa-solid fa-arrow-right back_icon" onclick="back()"></i>
          <i class="fa-solid fa-arrow-left forward_icon" onclick="forward()"></i>
          الموظفين / تعديل موظف
        </h2>
        <!-- ________________________________________________CONTENT_____________________________________________________________ -->





          <label for="employee_name_input" class="lbl_sm">اسم الموظف</label>
          <input type="search" id="employee_name_input" class="input_text_md hover" autocomplete="off">
         


          <label for="employee_job_input" class="lbl_sm">الوظيفة</label>
          <input type="search" id="employee_job_input" class="input_text_md hover">

          <label for="employee_beta2a_input" class="lbl_sm">رقم البطاقة</label>
          <input type="search" id="employee_beta2a_input" class="input_text_md hover">

          <label for="employee_adress_input" class="lbl_sm">العنوان</label>
          <input type="search" id="employee_adress_input" class="input_text_xl hover">

          <label for="employee_phone_input" class="lbl_sm">رقم هاتف شخصى</label>
          <input type="tel" id="employee_phone_input" class="input_text_md hover">

          <label for="employee_emergency_phone_input" class="lbl_sm">رقم طوارىء</label>
          <input type="tel" id="employee_emergency_phone_input" class="input_text_md hover">

          <label for="employee_start_date_input" class="lbl_sm">تاريخ التعيين</label>
          <!-- date -->
          <div class="input_with_icon_div">
            <input type="search" id="employee_start_date_input" class="hover input_date datepicker"
              placeholder="التاريخ..." readonly>
            <i class="fa-regular fa-calendar left_icon"></i>
          </div>

          <label for="employee_leave_date_input" class="lbl_sm">تاريخ ترك العمل</label>
          <!-- date -->
          <div class="input_with_icon_div">
            <input type="search" id="employee_leave_date_input" class="hover input_date datepicker"
              placeholder="التاريخ..." readonly>
            <i class="fa-regular fa-calendar left_icon"></i>
          </div>



          <div class="btn_container_top_border">
            <button class="btn_update" id="btn_update">تعديل</button>
            <button class="btn_cancel" id="btn_delete">حذف</button>
            <!-- <a href="employee_delete_ar" class="btn_delete" onclick="checkPermissions(event)">تجرب الحذف</a> -->
          </div>


        <!-- search in table -->
        <!-- <div id="search-div" style="display: flex;">
                    <div class="search_div">
                        <input type="text" name="searchInput" id="searchInput" placeholder="search" class="hover">
                        <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                        <i class="fa-solid fa-magnifying-glass left_icon"></i>
                    </div>
                    <button id="searchBtn" name="searchBtn" class="searchBtn">search</button>
                </div> -->

        <!-- table container filled by js -->
        <!-- <div id="table-container"></div> -->

      </div>
    </div>
  </div>

</div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/employees/update_employees_ar.js"></script>


<script>

</script>

</body>

</html>