<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>عيش</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
  <style>
    .unit {
      /* padding: 0.2rem; */
      border-radius: 3px;
      pointer-events: none;
      background-color: var(--btn_search_backcolor);
      height: 100%;
      width: fit-content;
      padding: .5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar"></div>
      
      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space">
          <h2 class="h2">
            <a href="bread_view_ar">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <i class="fa-solid fa-arrow-left forward_icon" onclick="forward()"></i>
            العيش / جديد
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
          <label for="date1" class="lbl_sm">التاريخ</label>
          <!-- date -->
          <div class="input_with_icon_div">
            <input type="search" id="date1" class="hover input_date datepicker" placeholder="التاريخ..." readonly
              autocomplete="off">
            <i class="fa-regular fa-calendar"></i>
          </div>
          <label for="date1" class="lbl_sm">اسم المورد</label>
          <select name="" id="vendore_select" class="select_year" style="width: fit-content;">
            <option value="1">حسين مرزوق</option>
            <option value="2">ابراهيم ملش</option>
            <option value="3">فرن منطى</option>
          </select>
          <!-- table -->
          <div id="table_container" style="width: auto; max-width: 100%; overflow: auto;" class="">

            <div id="table-container"></div>

          </div>
          <div class="btn_container_top_border">
            <button class="btn_update" id="btn_update">تعديل</button>
            <button class="btn_cancel" id="btn_delete">حذف</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  <script>

  </script>

  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/bread/bread_update_ar.js"></script>


</body>

</html>