<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">


  <style>
    .dialog {
      width: 40rem;
      overflow: auto;
    }

    @media screen and (max-width: 600px) {
      .dialog {
        width: 90%;
        max-height: 90%;
      }
    }

    #div1 {
      margin-block-end: 1rem;
    }

    #div1,
    #div2 {
      transition: var(--transition);
    }

    #div1 button {
      background-color: var(--btn_save_backcolor);
      transition: var(--transition);
    }

    #div2 button {
      background-color: var(--btn_delete_backcolor);
    }

    #div1 button,
    #div2 button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      color: var(--btn_color);
      border-radius: 0.3rem;
      margin: 0.5rem;
      cursor: pointer;
      word-wrap: break-word;
      transition: var(--transition);
    }

    #div1 button:hover,
    #div2 button:hover {
      opacity: var(--btn_hover_opacity);
    }

    #div1 button:active,
    #div2 button:active {
      transform: scale(1.1);
    }





    .tags_div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 5rem;
      height: fit-content;
      max-height: 15rem;
      width: 100%;
      overflow: auto;
      border: var(--border_normal);
      border-radius: 0.3rem;
      padding: 0.5rem;
    }
  </style>

  
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>

    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <div id="fn_container_div" class="fn_container_div"></div>

          <h2 id="h2" class="h2">
            <a id="back_href" class="back_href" href="hr_ar" title="الموارد البشرية">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div class="h2_main_text_div">
              <a id="h2_text_div" class="h2_text_div" href="effects_view_ar" title="اعادة تحميل الصفحة">المؤثرات</a>
              <span id="sub_h2_header" class="sub_h2_header"></span>
            </div>
          </h2>
          <div id="page_content" style="display: none;">
            <!-- !________________________________________________CONTENT_____________________________________________________________ -->



            <div id="dialog_body_button_div" class="row x_center y_center mb_10 wrap w_full" style="gap: 1rem;">
              <button id="btn_new_user" class="btn_new" onclick="new_user_fn(this)">مستخدم جديد</button>
              <button id="btn_update_current_user" class="btn_update" onclick="show_table_update_current_user()">تعديل
                مستخدم حالى</button>
            </div>

            <label for=""> مستخدم جديد</label>

            <label for="user_name_input" class="lbl_sm">اسم المستخدم ( المستخدم فى الدخول )</label>
            <input type="search" id="user_name_input" class="input_text_md w_full hover"
              oninput="check_parse(this, 'string')" autocomplete="off">


            <!-- pass div -->
            <button id="btn_change_pass" class="btn_new"
              style="width: fit-content; margin-block-end: 2rem; margin-block-start: 1rem; display: none;"
              onclick="btn_change_pass_fn()">تعيين كلمة مرور
              جديده</button>
            <!-- pass div -->
            <button id="btn_change_pass" class="btn_new"
              style="width: fit-content; margin-block-end: 2rem; margin-block-start: 1rem; display: none;"
              onclick="btn_change_pass_fn()">تعيين كلمة مرور
              جديده</button>

            <!-- passwords -->
            <div id="pass_div" class="flex-column w_full" style="flex-wrap: nowrap;">
              <div id="new_pass_div" class="column" style="display:none">
                <label for="pass_input_new_pass_inpu" class="lbl_sm">كلمة المرور القديمة</label>

                <div id="input_your_new_pass_div" class="flex_row w_full"
                  style="margin-inline-end: 1rem; display: flex">
                  <div class="input_with_icon_div w_full">
                    <input type="password" name="" id="pass_input_new_pass_inpu" placeholder="ادخل كلمه المرور الجديده"
                      class="pass_input w_full hover" autocomplete="on">
                    <i class="fa-solid fa-key left_icon"></i>
                  </div>
                  <button id="show_pass_btn1" class="btn_eye hover"
                    onmousedown="showPassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    onmouseup="hidePassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    ontouchstart="showPassword('pass_input_new_pass_inpu', 'eye_icon1')"
                    ontouchend="hidePassword('pass_input_new_pass_inpu', 'eye_icon1')"><i id="eye_icon1"
                      class="fa-regular fa-eye eye_icon"></i>
                  </button>
                </div>
              </div>
              <label for="pass_input1" class="lbl_sm">كلمة المرور الجديده</label>
              <!-- pass div -->
              <div class="flex_row w_full">
                <div class="input_with_icon_div w_full">
                  <input type="password" name="" id="pass_input1" oninput="check_parse(this, 'string')"
                    placeholder="ادخل كلمه المرور" class="pass_input hover w_full" autocomplete="on">
                  <i class="fa-solid fa-key left_icon"></i>
                </div>
                <button id="show_pass_btn1" class="btn_eye hover" onmousedown="showPassword('pass_input1', 'eye_icon1')"
                  onmouseup="hidePassword('pass_input1', 'eye_icon1')"
                  ontouchstart="showPassword('pass_input1', 'eye_icon1')"
                  ontouchend="hidePassword('pass_input1', 'eye_icon1')"><i id="eye_icon1"
                    class="fa-regular fa-eye eye_icon"></i>
                </button>
              </div>

              <!-- pass div -->
              <div class="flex_row w_full">
                <div class="input_with_icon_div w_full">
                  <input type="password" name="" id="pass_input2" oninput="check_parse(this, 'string')"
                    placeholder="تأكيد كلمه المرور" class="pass_input w_full hover" autocomplete="on">
                  <i class="fa-solid fa-key left_icon"></i>
                </div>
                <button id="show_pass_btn2" class="btn_eye hover" onmousedown="showPassword('pass_input2', 'eye_icon2')"
                  onmouseup="hidePassword('pass_input2', 'eye_icon2')"
                  ontouchstart="showPassword('pass_input2', 'eye_icon2')"
                  ontouchend="hidePassword('pass_input2', 'eye_icon2')"><i id="eye_icon2"
                    class="fa-regular fa-eye eye_icon"></i>
                </button>
              </div>
            </div>



            <label for="user_fullName_input" class="lbl_sm">اسم المستخدم بالكامل</label>
            <input type="search" id="user_fullName_input" class="input_text_md w_full hover"
              oninput="check_parse(this, 'string')" title="الاسم الذى يظهر على الشاشه للاخرين" autocomplete="off">


            <!-- الصلاحيات -->

            <label for="general_permission_select" class="lbl_sm">صلاحيات عامه</label>
            <select class="permission_select hover mb_10" id="user_main_permission_select"
              onchange="user_main_permission_select_fn(this)">
              <option value="0" selected>صلاحيات المالك</option>
              <option value="1">صلاحيات مقيده</option>
            </select>



            <!-- الشركات -->
            <div id="companies_div" class="column x_start y_start w_full" style="display: none">
              <label for="div1" class="lbl_sm">شركات منضمه</label>
              <div id="div1" class="tags_div hover scroll">
                <!-- Buttons in div1 -->

              </div>

              <label for="div2" class="lbl_sm">شركات غير منضمه</label>
              <div id="div2" class="tags_div hover scroll">
                <!-- Buttons in div2 -->

              </div>
            </div>


            <button id="yesButton" class="btn_save" style="display: none;" onclick="save_new_user()">حفظ</button>
            <button id="noButton" class="btn_cancel" onclick="noButton()">إنهاء</button>

            <!--! ________________________________________________#END CONTENT_____________________________________________________________ -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div> <!-- end body content -->
  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/hr/effects/effects_view_ar.js"></script>


</body>

</html>