<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SIM-ERP</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>

    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>


      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <h2 class="h2">
            <a href="notes_ar">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
             إدارة المبيعات
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
          <div id="page_content" style="display: none;">

            <div class="btn_container">
              <button id="sales_invoice_btn" class="custom_button" style="display: none;">فواتير مبيعات</button>
              <button id="sales_order_btn" class="custom_button" style="display: none;">اوامر بيع</button>
              <button id="sales_qutation_btn" class="custom_button" style="display: none;">عروض اسعار بيع</button>
              <button id="sales_returns_btn" class="custom_button" style="display: none;">مرتجع مبيعات</button>
              
              
              <button id="mnadep_btn" class="custom_button" style="display: none;">البائعين</button>
            </div>

          </div>

          <!-- ________________________________________________END CONTENT_____________________________________________________________ -->

        </div>
      </div>
    </div>

  </div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/sales_management/salesMain_view_ar.js"></script>


</body>

</html>