<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <h2 id="h2" class="h2">
            <a id="back_href" class="back_href" href="customers_view_ar" title="المؤثرات">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div class="h2_main_text_div">
              <a id="h2_text_div" class="h2_text_div" href="customers_add_ar" title="اعادة تحميل الصفحة">
                العملاء
              </a>
              <span id="sub_h2_header" class="sub_h2_header"></span>
            </div>
          </h2>

          <div id ="fn_container_div" class="fn_container_div"></div>

          <div id="page_content" style="display: none;">
            <!-- ________________________________________________CONTENT_____________________________________________________________ -->

                <!-- معرف العميل -->
                <div id="acc_no_div" class="flex_column">
                  <label for="account_no_input" class="lbl_sm">معرف العميل</label>
                  <input type="search" id="account_no_input" class="input_text_sm hover" placeholder="اختياري"
                    autocomplete="off" oninput="check_parse(this,'string')">
                  <!-- <input type="hidden" id=" is_main_acc_input_hidden"> -->
                </div>
    
                <!-- اسم العميل -->
                <label for="account_name_input" class="lbl_sm">اسم العميل</label>
                <input type="search" id="account_name_input" class="input_text_md hover" placeholder="مطلوب"
                  autocomplete="off" oninput="check_parse(this,'string')">
                <input type="hidden" id="account_id_hidden">
    
    
                <!-- الحد الائتمانى -->
                <label for="credit_limit" class="lbl_sm">الحد الائتمانى</label>
                <input type="search" id="credit_limit" class="input_text_sm hover" placeholder="اختياري"
                  autocomplete="off" oninput="check_parse(this,'number')">
    
                <!-- البريد الالكترونى -->
                <label for="email_input" class="lbl_sm">البريد الالكترونى</label>
                <input type="search" id="email_input" class="input_text_md hover" placeholder="اختياري"
                  autocomplete="off" oninput="check_parse(this,'string')">
                <input type="hidden" id="account_id_hidden">
    
                <!-- رقم التسجيل الضريبيى -->
                <label for="tasgel_darepy_input" class="lbl_sm">رقم التسجيل الضريبيى</label>
                <input type="search" id="tasgel_darepy_input" class="input_text_md hover" placeholder="اختياري"
                  autocomplete="off" oninput="check_parse(this,'string')">
    
                <!-- بيانات قانونية اخرى -->
                <label for="legal_info_input" class="lbl_sm">بيانات قانونية اخرى</label>
                <textarea name="" id="legal_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
                  style="margin-block-end: 1rem;"></textarea>
    
    
                <!-- بيانات التواصل الاخرى -->
                <label for="contact_info_input" class="lbl_sm">بيانات التواصل الاخرى</label>
                <textarea name="" id="contact_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')"  placeholder="اختياري"
                  style="margin-block-end: 1rem;"></textarea>
    
                <!-- بيانات التواصل الاخرى -->
                <label for="banking_info_input" class="lbl_sm">بيانات بنكية</label>
                <textarea name="" id="banking_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
                  style="margin-block-end: 1rem;"></textarea>
    
                <label for="delivery_adress_input" class="lbl_sm">عنوان التسليم</label>
                <textarea name="" id="delivery_adress_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
                  style="margin-block-end: 1rem;"></textarea>
    
                  <div class="info_div_with_normal_nput">
                    <div class="input_with_icon_div">
                      <span class="reference_input_checkbox"><input type="checkbox" id="is_allow_to_buy_and_sell"></span>
                      <span class="span">تفعيل امكانية الشراء من العميل</span>
                    </div>
                    <i class="fa-solid fa-question inf_btn" onclick="showAlert(`info`, `تفعيل خاصية الشراء من العميل تسمح بظهور حساب العميل فى قائمة الموردين عند الشراء`)"></i>
                  </div>

                <!-- <div id="checked_div" class="column x_start y_start" style="display: none">
                  <label for="note_textarea" class="lbl_sm">الحالة</label>
                  <input id="checked_input" type="checkbox">
                </div> -->
    
                <div class="btn_container_top_border notView">
                    <button class="btn_update" id="btn_update">تعديل</button>
                    <button class="btn_cancel" id="btn_delete">حذف</button>
                </div>
            <!-- ______________________________________________________________________________________________________ -->
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
  <script>

  </script>

  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/customers/customers_update_ar.js"></script>
  <script src="/public/scripts/ar/customers/customers_multiPages_ar.js"></script>


</body>

</html>