<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>
      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
                <div id="content_space" class="scroll">

          <div id ="fn_container_div" class="fn_container_div"></div>
          <h2 class="h2" id="">
            <a href="home_ar" id="back_icon_to_home">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <div id="back_icon_to_table_view" style="display: none;"><i class="fa-solid fa-arrow-right back_icon"></i>
            </div>
            <div id="page_adress_h2">العملاء</div>
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
         <div id="page_content" style="display: none;"> 
          <div class="flex_column" id="table_div">
            <div class="btn_container">
              <button id="btn_new" class="btn_new">جديد</button>
            </div>
            <!-- search in table -->
            <div class="search_in_table_div">
              <div class="input_with_icon_div">
                <input type="search" name="searchInput" id="searchInput" placeholder="search"
                  class="search_input hover">
                <i class="fa-light fa-magnifying-glass left_icon"></i>
              </div>
              <button id="searchBtn" class="btn_search hover">search</button>
            </div>

            <!-- table container filled by js -->
            <div id="tableContainer" class="tableContainer"></div>
          </div>

          <!-- new cutomers -------------------------------------------------------------------------------------------- -->
          <div class="flex_column" id="new_cutomer_div" style="display: none;">
            <!-- معرف العميل -->
            <div id="acc_no_div" class="flex_column">
              <label for="account_no_input" class="lbl_sm">معرف العميل</label>
              <input type="search" id="account_no_input" class="input_text_sm hover" placeholder="اختياري"
                autocomplete="off" oninput="check_parse(this,'string')">
              <!-- <input type="hidden" id=" is_main_acc_input_hidden"> -->
            </div>

            <!-- اسم العميل -->
            <label for="account_name_input" class="lbl_sm">اسم العميل</label>
            <input type="search" id="account_name_input" class="input_text_md hover" placeholder="مطلوب"
              autocomplete="off" oninput="check_parse(this,'string')">
            <input type="hidden" id="account_id_hidden">


            <!-- الحد الائتمانى -->
            <label for="credit_limit" class="lbl_sm">الحد الائتمانى</label>
            <input type="search" id="credit_limit" class="input_text_sm hover" placeholder="اختياري"
              autocomplete="off" oninput="check_parse(this,'number')">

            <!-- البريد الالكترونى -->
            <label for="email_input" class="lbl_sm">البريد الالكترونى</label>
            <input type="search" id="email_input" class="input_text_md hover" placeholder="اختياري"
              autocomplete="off" oninput="check_parse(this,'string')">
            <input type="hidden" id="account_id_hidden">

            <!-- رقم التسجيل الضريبيى -->
            <label for="tasgel_darepy_input" class="lbl_sm">رقم التسجيل الضريبيى</label>
            <input type="search" id="tasgel_darepy_input" class="input_text_md hover" placeholder="اختياري"
              autocomplete="off" oninput="check_parse(this,'string')">

            <!-- بيانات قانونية اخرى -->
            <label for="legal_info_input" class="lbl_sm">بيانات قانونية اخرى</label>
            <textarea name="" id="legal_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
              style="margin-block-end: 1rem;"></textarea>


            <!-- بيانات التواصل الاخرى -->
            <label for="contact_info_input" class="lbl_sm">بيانات التواصل الاخرى</label>
            <textarea name="" id="contact_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')"  placeholder="اختياري"
              style="margin-block-end: 1rem;"></textarea>

            <!-- بيانات التواصل الاخرى -->
            <label for="banking_info_input" class="lbl_sm">بيانات بنكية</label>
            <textarea name="" id="banking_info_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
              style="margin-block-end: 1rem;"></textarea>

            <label for="delivery_adress_input" class="lbl_sm">عنوان التسليم</label>
            <textarea name="" id="delivery_adress_input" class="text_area2 hover scroll" oninput="check_parse(this,'string')" placeholder="اختياري"
              style="margin-block-end: 1rem;"></textarea>

            <!-- <div id="checked_div" class="column x_start y_start" style="display: none">
              <label for="note_textarea" class="lbl_sm">الحالة</label>
              <input id="checked_input" type="checkbox">
            </div> -->

            <div class="btn_container_top_border">
              <button id="save_btn" class="btn_save">حفظ</button>
              <button id="update_btn" class="btn_update">تعديل</button>
              <button id="btn_cancel" class="btn_cancel">حذف</button>
            </div>
          </div> <!-- end new cutomer div-->
        </div>


        </div> <!-- end content space -->
      </div>
    </div>


  </div> <!-- end body content -->

  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/customers/cutomers_view_ar.js"></script>


</body>

</html>