<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>

    <div class="header" id="header_div">


    </div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space">
          <h2 class="h2">
            <a href="users_ar">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            <i class="fa-solid fa-arrow-left forward_icon" onclick="forward()"></i>
            الملخص
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
          <h4 class="h2" style="margin: 3rem auto; border: none;">Your database will expire on July 9, 2024</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- scripts------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script>
  <!-- lazem da ykon apl el main.js -->
  <script src="/public/scripts/main.js"></script>
  <script src="/public/scripts/ar/home_ar.js"></script>

</body>

</html>
