<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>
    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>

    <div class="header" id="header_div">
    </div>


    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>

      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">
          <h2 class="h2">
            <a href="users_ar">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
    
            الرئيسيه
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
      
          <div class="btn_container">
            <button id="new_todo_btn" class="btn_new">ملاحظة جديده</button>
          </div>
                  <!-- search in table -->
        
                  <div class="flex_row gap_05">
                    <div class="input_with_icon_div">
                      <input type="search" name="searchInput" id="searchInput" placeholder="search" class="search_input hover">
                      <i class="fa-light fa-magnifying-glass left_icon"></i>
                      <!-- <i class="fa-thin fa-magnifying-glass left_icon"></i> -->
                    </div>
                    <!-- <button id="searchBtn" name="searchBtn" class="searchBtn">search</button> -->
                    <button id="searchBtn" class="btn_search hover">search</button>
                  </div>
          
                  <!-- table container filled by js -->
                  <div id="table-container" class="table_container"></div>
        
        </div>
      </div>
    </div>
  </div>

  <!-- dialog--------------------------------------------------------------- -->
  <div id="dialogOverlay_input" class="dialogOverlay" style='display: none;'>
 
    <div id="dialog5" class="dialog dialog_input">

        <div class="dialog_header">
            <h3 id="dialogTitle"></h3>
        </div>

        <h2 id="h2_id" class="h2">
        <i class="fa-solid fa-arrow-right back_icon" onclick="
          document.querySelector('#users_table_view').style.display = 'none'
          document.querySelector('#dialog5').style.display = 'block'
        "></i>
        <i class="fa-solid fa-arrow-left forward_icon"></i>
        المستخدمين
      </h2>

      <!-- date -->
      <label for="date_input" class="lbl_sm">التاريخ</label>
                <div class="input_with_icon_div">
                  <input type="search" id="date_input" class="hover input_date datepicker" placeholder="التاريخ..." readonly
                    autocomplete="off">
                  <i class="fa-regular fa-calendar left_icon"></i>
                </div>

            <!-- <div class="input_with_icon_div w_full">
        <input type="search" id="date_input" class="hover input_date datepicker w_full" placeholder="التاريخ..." readonly
          autocomplete="off">
        <i class="fa-regular fa-calendar left_icon"></i>
      </div> -->
      <input type="hidden" id="hidden_input">

        <div class="dialog_body w_full scroll" style="align-items: start;justify-content: start">
          <label for="note_textarea" class="lbl_sm">الملاحظه</label>
          <textarea name="" id="note_textarea" class="text_area1 hover" oninput="check_parse(this,'string')" style="margin-block-end: 1rem;"></textarea>

          <div id="checked_div" class="column x_start y_start" style="display: none">
            <label for="note_textarea" class="lbl_sm">الحالة</label>
            <input id="checked_input" type="checkbox">
          </div>

        </div>
        <div id="dialog_footer" class="dialog_footer">
        <button id="save_btn" class="btn_save">حفظ</button>
        <button id="update_btn" class="btn_update">تعديل</button>
        <button id="noButton" class="btn_cancel" onclick="noButton()">إنهاء</button>
        </div>
    </div>
</div>
        
 <!-- dialog--------------------------------------------------------------- -->

  <!-- scripts------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script>
  <script src="/public/scripts/ar/home_ar.js"></script>

</body>

</html>
