<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>الموارد البشرية</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">
</head>

<body class="body scroll">
  <script src="/public/scripts/darkmode.js"></script>
  <div id="alert-container" class="alert-container"></div>
  <div id="body_content">
    <script src="/public/scripts/ar/Authentication_ar.js"></script>

    <button id="scrollToTopBtn">&#9650;</button>

    <!-- start ------------------------------------------------------------------------------------------>
    <div class="header" id="header_div"></div>

    <div class="sub_container">
      <div id="sidebar" class="sidebar scroll"></div>


      <div id="white_backcolor" class="white_backcolor">
        <!-- content -->
        <div id="content_space" class="scroll">

          <h2 class="h2">
            <a href="notes_ar">
              <i class="fa-solid fa-arrow-right back_icon"></i>
            </a>
            الموارد البشرية
          </h2>
          <!-- ________________________________________________CONTENT_____________________________________________________________ -->
          <div id="page_content" style="display: none;">

            <div class="btn_container">
              <button id="departments_btn" class="custom_button">الاقسام</button>
              <button id="employees_btn" class="custom_button">الموظفين</button>
              <button id="effects_btn" class="custom_button">المؤثرات</button>
            </div>

          </div>

          <!-- ________________________________________________END CONTENT_____________________________________________________________ -->

        </div>
      </div>
    </div>

  </div>


  <!-- scripts------------------------------------------------------------------------------ -->
  <script src="/public/flatpickr/dist/flatpickr.min.js"></script> <!-- lazem da ykon apl el main.js -->
  <script src="/public/socket/socket.io.min.js"></script>
  <script src="/public/scripts/main.js"></script> <!-- lazem da ykon a5er malaf -->
  <script src="/public/scripts/ar/hr/hr_ar.js"></script>


</body>

</html>